Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Fix sign_in, sign_out routes
  config/routes.rb
Due: rubocop, sorbet

Remember users on login
  app/controllers/omniauth_callbacks_controller.rb
Due: rubocop, sorbet

Production webpush tweaks (#83)
  app.json
  app/javascript/application.tsx
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/utilities/webpushNotifications.ts
  config/environments/production.rb
  public/service-worker.js
Due: eslint, typescript, prettier, rubocop, sorbet

Tweaks
  app/javascript/utilities/webpushNotifications.ts
  public/service-worker.js
Due: eslint, typescript, prettier

Tweaks (#85)
  app/javascript/utilities/webpushNotifications.ts
  public/service-worker.js
Due: eslint, typescript, prettier

A couple of Devise bug fixes (#84)
  app/controllers/omniauth_callbacks_controller.rb
  config/routes.rb
Due: rubocop, sorbet

More tweaks to webpush settings
  app/javascript/utilities/webpushNotifications.ts
  public/manifest.json
Due: eslint, typescript, prettier

Fix CSS
  app/javascript/components/SettingsForm/DevicesTable.tsx
Due: eslint, typescript, prettier

Fix CSS (#86)
  app/javascript/components/SettingsForm/DevicesTable.tsx
Due: eslint, typescript, prettier

Fix logger error
  app/controllers/checkouts_controller.rb
Due: rubocop, sorbet

Use google sign in button
  app/views/devise/sessions/new.html.erb
  app/views/home_page/_call_to_action.html.erb
  app/views/home_page/_header.html.erb
  app/views/shared/_google_log_in_button.html.erb
  public/images/google_signin.png
Due: erblint

Use google sign in button (#87)
  app/views/devise/sessions/new.html.erb
  app/views/home_page/_call_to_action.html.erb
  app/views/home_page/_header.html.erb
  app/views/shared/_google_log_in_button.html.erb
  public/images/google_signin.png
Due: erblint

Fixed trailing whitespace issue in about.html.md
  app/views/layouts/_footer.html.erb
  app/views/pages/about.html.md
Due: erblint

Rebasing with main
  db/structure.sql
Due: none

Implemented team data into About Us page. Fixed formating as well
  app/views/pages/about.html.md
Due: none

Fixed footer indentation issue. Added Tailwind CSS to section titles
  app/views/layouts/_footer.html.erb
  app/views/pages/about.html.md
Due: erblint

Implemented Tailwind CSS for all components except for team icon
  app/views/pages/about.html.md
  public/images/team/nathan_smith.jpg
Due: none

Started implementing img_tag helper to load icon image
  app/views/pages/about.html.md
Due: none

Update config
  config/sitemap.rb
Due: rubocop, sorbet

Add production check
  config/sitemap.rb
Due: rubocop, sorbet

Update sitemap config (#94)
  config/sitemap.rb
Due: rubocop, sorbet

Fix typo in "reccomend_textbook"
  app/controllers/reviews_controller.rb
  app/helpers/course_helper.rb
  app/models/review.rb
  app/views/reviews/_review.json.jbuilder
  db/migrate/20230611074937_rename_reccomend_textbook_column.rb
  sorbet/rails-rbi/models/review.rbi
  test/factories.rb
  test/helpers/course_helper_test.rb
  test/models/review_test.rb
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Fix sitemap links
  config/environments/production.rb
  config/routes.rb
Due: rubocop, sorbet

erblint --lint-all -a
  app/views/shared/_google_log_in_button.html.erb
Due: erblint

Fix Lint error
  db/migrate/20230611074937_rename_reccomend_textbook_column.rb
Due: rubocop, sorbet

Update structure.sql
  db/structure.sql
Due: none

Fix middleware call
  config/environments/production.rb
Due: rubocop, sorbet

Disable depguard
  lambdas/.golangci.yaml
Due: prettier

Fix lint errors
  .rubocop.yml
  test/mailers/announcements_mailer_test.rb
Due: rubocop, sorbet

wip
  app/mailers/announcements_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  test/mailers/previews/announcements_mailer_preview.rb
Due: rubocop, erblint, sorbet

Outline email
  app/views/announcements_mailer/push_notifications_2023_05_16.md.erb
Due: none

Small footer
  Gemfile
  Gemfile.lock
  app/views/layouts/mailer.html.erb
Due: rubocop, erblint, sorbet

Add Mailkick gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Set font
  app/views/layouts/mailer.html.erb
Due: erblint

rails generate mailkick:install
  db/migrate/20230511033013_create_mailkick_subscriptions.rb
Due: rubocop, sorbet

rake sorbet:update:all
  sorbet/rails-rbi/mailers/announcements_mailer.rbi
  sorbet/rbi/gems/kramdown-parser-gfm@1.1.0.rbi
  sorbet/rbi/gems/kramdown@2.4.0.rbi
  sorbet/rbi/gems/maildown@3.3.1.rbi
Due: sorbet

rails db:migrate
  db/structure.sql
Due: none

rake sorbet:update:all
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/jobs/delivery_methods/web_push.rbi
  sorbet/rails-rbi/models/mailkick/opt_out.rbi
  sorbet/rails-rbi/models/mailkick/subscription.rbi
  sorbet/rails-rbi/models/webpush_device.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/gems/lograge-sql@2.1.0.rbi
  sorbet/rbi/gems/mailkick@1.1.2.rbi
Due: sorbet

Rename subscribe and unsubscribe methods
  app/controllers/relationships_controller.rb
  app/helpers/section_helper.rb
  app/models/user.rb
  test/models/user_test.rb
Due: rubocop, sorbet

Get email preview working
  app/views/announcements_mailer/push_notifications_2023_05_16.md.erb
  test/mailers/previews/announcements_mailer_preview.rb
Due: rubocop, sorbet
