Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Add maildown
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

wip
  app/views/announcements_mailer/push_notifications_2023_05_16.md.erb
Due: none

wip
  app/mailers/announcements_mailer.rb
  app/views/announcements_mailer/push_notifications_2023_05_16.html.erb
  db/migrate/20230511033013_create_mailkick_subscriptions.rb
  sorbet/rails-rbi/mailers/announcements_mailer.rbi
  sorbet/rails-rbi/models/mailkick/subscription.rbi
  sorbet/rails-rbi/models/user.rbi
  test/mailers/announcements_mailer_test.rb
  test/mailers/previews/announcements_mailer_preview.rb
Due: rubocop, erblint, sorbet

Add `has_subscriptions`
  app/models/user.rb
Due: rubocop, sorbet

Tweaks
  app/mailers/announcements_mailer.rb
Due: rubocop, sorbet

Move scrapedata directory
  lib/scrapedata/enrollment_appointments/2016.html
  lib/scrapedata/enrollment_appointments/2017.html
  lib/scrapedata/enrollment_appointments/2018.html
  lib/scrapedata/enrollment_appointments/2019.html
  lib/scrapedata/enrollment_appointments/2020.html
  lib/scrapedata/enrollment_appointments/2021.html
  lib/scrapedata/enrollment_appointments/2022.html
  lib/scrapedata/enrollment_appointments/2023.html
  lib/scrapedata/enrollment_appointments/README.md
  lib/scrapedata/summer_session_dates/summer-calendar-2016-2017.html
  lib/scrapedata/summer_session_dates/summer-calendar-2018.html
  lib/scrapedata/summer_session_dates/summer-calendar-2019-2020.html
  lib/scrapedata/summer_session_dates/summer-calendar-2021.html
  lib/scrapedata/summer_session_dates/summer-calendar-2022.html
  lib/scrapedata/term_dates/academiccalendar00-01.pdf
  lib/scrapedata/term_dates/academiccalendar01-02.pdf
  lib/scrapedata/term_dates/academiccalendar02-03.pdf
  lib/scrapedata/term_dates/academiccalendar03-04.pdf
  lib/scrapedata/term_dates/academiccalendar04-05.pdf
  lib/scrapedata/term_dates/academiccalendar05-06.pdf
  lib/scrapedata/term_dates/academiccalendar06-07.pdf
  lib/scrapedata/term_dates/academiccalendar07-08.pdf
  lib/scrapedata/term_dates/academiccalendar08-09.pdf
  lib/scrapedata/term_dates/academiccalendar09-10.pdf
  lib/scrapedata/term_dates/academiccalendar10-11.pdf
  lib/scrapedata/term_dates/academiccalendar11-12.pdf
  lib/scrapedata/term_dates/academiccalendar12-13.pdf
  lib/scrapedata/term_dates/academiccalendar13-14.pdf
  lib/scrapedata/term_dates/academiccalendar14-15.pdf
  lib/scrapedata/term_dates/academiccalendar15-16.pdf
  lib/scrapedata/term_dates/academiccalendar16-17.html
  lib/scrapedata/term_dates/academiccalendar17-18.html
  lib/scrapedata/term_dates/academiccalendar18-27.html
  lib/scrapedata/term_dates/academiccalendar1999-2000.pdf
  lib/scrapedata/term_dates/readme.md
Due: none

Update scrape.rake filepaths
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Add 2023 calendar and readme
  lib/scrapedata/summer_session_dates/README.md
  lib/scrapedata/summer_session_dates/summer-calendar-2023.html
Due: none

Update enrollment appointments data
  lib/scrapedata/enrollment_appointments/2021.html
  lib/scrapedata/enrollment_appointments/Fall 2016-Spring 2017.html
  lib/scrapedata/enrollment_appointments/Fall 2017-Spring 2018.html
  lib/scrapedata/enrollment_appointments/Fall 2018-Spring 2019.html
  lib/scrapedata/enrollment_appointments/Fall 2019-Spring 2020.html
  lib/scrapedata/enrollment_appointments/Fall 2020-Spring 2021.html
  lib/scrapedata/enrollment_appointments/Fall 2021-Spring 2022.html
  lib/scrapedata/enrollment_appointments/Fall 2022-Spring 2023.html
  lib/scrapedata/enrollment_appointments/Fall 2023.html
  lib/scrapedata/enrollment_appointments/README.md
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Scrape latest enrollment appointments and summer sessions for Summer/Fall 2023 (#96)
  lib/scrapedata/enrollment_appointments/Fall 2016-Spring 2017.html
  lib/scrapedata/enrollment_appointments/Fall 2017-Spring 2018.html
  lib/scrapedata/enrollment_appointments/Fall 2018-Spring 2019.html
  lib/scrapedata/enrollment_appointments/Fall 2019-Spring 2020.html
  lib/scrapedata/enrollment_appointments/Fall 2020-Spring 2021.html
  lib/scrapedata/enrollment_appointments/Fall 2021-Spring 2022.html
  lib/scrapedata/enrollment_appointments/Fall 2022-Spring 2023.html
  lib/scrapedata/enrollment_appointments/Fall 2023.html
  lib/scrapedata/enrollment_appointments/README.md
  lib/scrapedata/summer_session_dates/README.md
  lib/scrapedata/summer_session_dates/summer-calendar-2016-2017.html
  lib/scrapedata/summer_session_dates/summer-calendar-2018.html
  lib/scrapedata/summer_session_dates/summer-calendar-2019-2020.html
  lib/scrapedata/summer_session_dates/summer-calendar-2021.html
  lib/scrapedata/summer_session_dates/summer-calendar-2022.html
  lib/scrapedata/summer_session_dates/summer-calendar-2023.html
  lib/scrapedata/term_dates/academiccalendar00-01.pdf
  lib/scrapedata/term_dates/academiccalendar01-02.pdf
  lib/scrapedata/term_dates/academiccalendar02-03.pdf
  lib/scrapedata/term_dates/academiccalendar03-04.pdf
  lib/scrapedata/term_dates/academiccalendar04-05.pdf
  lib/scrapedata/term_dates/academiccalendar05-06.pdf
  lib/scrapedata/term_dates/academiccalendar06-07.pdf
  lib/scrapedata/term_dates/academiccalendar07-08.pdf
  lib/scrapedata/term_dates/academiccalendar08-09.pdf
  lib/scrapedata/term_dates/academiccalendar09-10.pdf
  lib/scrapedata/term_dates/academiccalendar10-11.pdf
  lib/scrapedata/term_dates/academiccalendar11-12.pdf
  lib/scrapedata/term_dates/academiccalendar12-13.pdf
  lib/scrapedata/term_dates/academiccalendar13-14.pdf
  lib/scrapedata/term_dates/academiccalendar14-15.pdf
  lib/scrapedata/term_dates/academiccalendar15-16.pdf
  lib/scrapedata/term_dates/academiccalendar16-17.html
  lib/scrapedata/term_dates/academiccalendar17-18.html
  lib/scrapedata/term_dates/academiccalendar18-27.html
  lib/scrapedata/term_dates/academiccalendar1999-2000.pdf
  lib/scrapedata/term_dates/readme.md
  lib/tasks/scrape.rake
  lib/tasks/scrapedata/enrollment_appointments/2021.html
  lib/tasks/scrapedata/enrollment_appointments/README.md
Due: rubocop, sorbet

Fix sorbet errors
  sorbet/rails-rbi/models/mailkick/subscription.rbi
  sorbet/rails-rbi/models/user.rbi
  sorbet/rbi/gems/css_parser@1.14.0.rbi
  sorbet/rbi/gems/htmlentities@4.3.4.rbi
  sorbet/rbi/gems/premailer-rails@1.12.0.rbi
  sorbet/rbi/gems/premailer@1.21.0.rbi
  sorbet/rbi/sorbet-typed/lib/actionmailer/all/actionmailer.rbi
Due: sorbet

Add smtp settings for AWS
  config/environments/production.rb
Due: rubocop, sorbet

Add aws-sdk-sesv2
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Generate sorbet types
  config/initializers/mailkick.rb
  sorbet/rbi/gems/aws-sdk-sesv2@1.33.0.rbi
Due: rubocop, sorbet

Setup rake task, remove mailchimp job
  app/jobs/add_new_user_to_mailing_list_job.rb
  app/models/user.rb
  app/models/user.rbi
  lib/tasks/send_announcement.rake
  test/jobs/add_new_user_to_mailing_list_job_test.rb
Due: rubocop, sorbet

Create mailing list backend (#88)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/relationships_controller.rb
  app/helpers/section_helper.rb
  app/jobs/add_new_user_to_mailing_list_job.rb
  app/mailers/announcements_mailer.rb
  app/models/user.rb
  app/models/user.rbi
  app/views/announcements_mailer/push_notifications_2023_05_16.md.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  config/environments/production.rb
  config/initializers/mailkick.rb
  db/migrate/20230511033013_create_mailkick_subscriptions.rb
  db/structure.sql
  lib/tasks/send_announcement.rake
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/jobs/delivery_methods/web_push.rbi
  sorbet/rails-rbi/mailers/announcements_mailer.rbi
  sorbet/rails-rbi/models/mailkick/opt_out.rbi
  sorbet/rails-rbi/models/mailkick/subscription.rbi
  sorbet/rails-rbi/models/user.rbi
  sorbet/rails-rbi/models/webpush_device.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/gems/aws-sdk-sesv2@1.33.0.rbi
  sorbet/rbi/gems/css_parser@1.14.0.rbi
  sorbet/rbi/gems/htmlentities@4.3.4.rbi
  sorbet/rbi/gems/kramdown-parser-gfm@1.1.0.rbi
  sorbet/rbi/gems/kramdown@2.4.0.rbi
  sorbet/rbi/gems/lograge-sql@2.1.0.rbi
  sorbet/rbi/gems/maildown@3.3.1.rbi
  sorbet/rbi/gems/mailkick@1.1.2.rbi
  sorbet/rbi/gems/premailer-rails@1.12.0.rbi
  sorbet/rbi/gems/premailer@1.21.0.rbi
  sorbet/rbi/sorbet-typed/lib/actionmailer/all/actionmailer.rbi
  test/jobs/add_new_user_to_mailing_list_job_test.rb
  test/mailers/announcements_mailer_test.rb
  test/mailers/previews/announcements_mailer_preview.rb
  test/models/user_test.rb
Due: rubocop, erblint, sorbet

Add checkout controller test
  test/controllers/checkouts_controller_test.rb
Due: rubocop, sorbet

Write a webpush devices test
  app/controllers/webpush_devices_controller.rb
  test/controllers/webpush_devices_controller_test.rb
  test/factories/webpush_device.rb
  test/test_helper.rb
  test/test_helpers/term_helper.rb
Due: rubocop, sorbet

Move integration tests to controller tests
  test/controllers/admin/reviews_controller_test.rb
  test/controllers/courses_controller_test.rb
  test/controllers/enrollment_notifications_controller_test.rb
  test/controllers/errors_controller_test.rb
  test/controllers/home_page_controller_test.rb
  test/controllers/relationships_controller_test.rb
  test/controllers/reviews_controller_test.rb
  test/controllers/search_controller_test.rb
  test/controllers/static_pages_controller_test.rb
  test/controllers/subject_areas_controller_test.rb
  test/controllers/users_controller_test.rb
Due: rubocop, sorbet

Add test for sections controller
  test/controllers/sections_controller_test.rb
Due: rubocop, sorbet

Add instructors controller test
  test/controllers/instructors_controller_test.rb
Due: rubocop, sorbet

wip
  app/controllers/relationships_controller.rb
Due: rubocop, sorbet

Remove application cable files
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
Due: rubocop, sorbet

Improve test coverage (#90)
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/relationships_controller.rb
  app/controllers/webpush_devices_controller.rb
  test/controllers/admin/reviews_controller_test.rb
  test/controllers/checkouts_controller_test.rb
  test/controllers/courses_controller_test.rb
  test/controllers/enrollment_notifications_controller_test.rb
  test/controllers/errors_controller_test.rb
  test/controllers/home_page_controller_test.rb
  test/controllers/instructors_controller_test.rb
  test/controllers/relationships_controller_test.rb
  test/controllers/reviews_controller_test.rb
  test/controllers/search_controller_test.rb
  test/controllers/sections_controller_test.rb
  test/controllers/static_pages_controller_test.rb
  test/controllers/subject_areas_controller_test.rb
  test/controllers/users_controller_test.rb
  test/controllers/webpush_devices_controller_test.rb
  test/factories/webpush_device.rb
  test/test_helper.rb
  test/test_helpers/term_helper.rb
Due: rubocop, sorbet

Add secrets.yml file for Mailkick
  config/secrets.yml
Due: none

Update log level
  lambdas/serverless.yml
Due: none

Updated logo + others
  .DS_Store
  app/views/home_page/_header.html.erb
  app/views/home_page/index.html.erb
  app/views/icons/_hotseatlogored.html.erb
  app/views/icons/_hotseatlogotext_red.html.erb
  app/views/layouts/_navbar.html.erb
  public/.DS_Store
  public/images/.DS_Store
  public/images/hotseat_white.svg
  public/images/hotseatlogo_gray.svg
  public/images/hotseatlogo_red.svg
  public/images/hotseatlogotext_gray.svg
  public/images/hotseatlogotext_red.svg
  public/images/hotseatlogotext_white.svg
  yarn.lock
Due: erblint

wip
  lambdas/default-event.json
  lambdas/envutil/main.go
  lambdas/serverless.yml
Due: prettier, golangci-lint

Update default event
  lambdas/default-event.json
Due: prettier

Scrape summer and fall courses
  lambdas/serverless.yml
Due: none

Add log retention policy
  lambdas/serverless.yml
Due: none

Scrape summer and fall courses (#93)
  lambdas/default-event.json
  lambdas/envutil/main.go
  lambdas/serverless.yml
Due: prettier, golangci-lint

Update max connection size
  lambdas/envutil/database.go
Due: golangci-lint

Fix lambdas
  lambdas/envutil/database.go
  lambdas/fetch-sections/event.json
  lambdas/fetch-sections/storage.go
  lambdas/serverless.yml
Due: prettier, golangci-lint

Use DATABASE_URL instead of individual parameters
  lambdas/envutil/database.go
  lambdas/linux.json
  lambdas/macos.json
  lambdas/serverless.yml
Due: prettier, golangci-lint

Update tests and final parsing
  lambdas/Makefile
  lambdas/fetch-sections/parsing.go
  lambdas/fetch-sections/parsing_test.go
  lambdas/fetch-sections/testdata/fixtures/spring2021-law-205-details.html
  lambdas/fetch-sections/testdata/fixtures/spring2021-law-212-details.html
  lambdas/fetch-sections/testdata/fixtures/summer2021-annea-10W.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-143-details.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-32.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-m146-details.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-music-185H.html
  lambdas/fetch-sections/testdata/golden/winter2021-comsci-32-row-1.json
  lambdas/fetch-sections/testdata/golden/winter2021-music-185H-row-1.json
Due: golangci-lint

Update tests and final parsing (#99)
  lambdas/Makefile
  lambdas/fetch-sections/parsing.go
  lambdas/fetch-sections/parsing_test.go
  lambdas/fetch-sections/testdata/fixtures/spring2021-law-205-details.html
  lambdas/fetch-sections/testdata/fixtures/spring2021-law-212-details.html
  lambdas/fetch-sections/testdata/fixtures/summer2021-annea-10W.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-143-details.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-32.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-comsci-m146-details.html
  lambdas/fetch-sections/testdata/fixtures/winter2021-music-185H.html
  lambdas/fetch-sections/testdata/golden/winter2021-comsci-32-row-1.json
  lambdas/fetch-sections/testdata/golden/winter2021-music-185H-row-1.json
Due: golangci-lint

Fix CI checkout test
  test/controllers/checkouts_controller_test.rb
Due: rubocop, sorbet

Notification hotfix
  app/models/section.rb
Due: rubocop, sorbet

Better logging around notifications
  lambdas/fetch-sections/notify.go
Due: golangci-lint
