Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Add factorybot cop gem
  .rubocop.yml
  Gemfile
Due: rubocop, sorbet

rubocop -A
  test/controllers/home_page_controller_test.rb
  test/models/course_test.rb
  test/models/term_test.rb
  test/models/user_test.rb
Due: rubocop, sorbet

rake sorbet:update:all
  sorbet/rbi/gems/rubocop-factory_bot@2.23.1.rbi
Due: sorbet

wip
  .github/workflows/deploy.yml
Due: none

Update template
  .github/pull_request_template.md
Due: none

Add filter
  .github/workflows/deploy.yml
Due: none

Remove PR template
  .github/pull_request_template.md
Due: none

Add `rubocop-factory_bot` gem (#106)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  sorbet/rbi/gems/rubocop-factory_bot@2.23.1.rbi
  test/controllers/home_page_controller_test.rb
  test/models/course_test.rb
  test/models/term_test.rb
  test/models/user_test.rb
Due: rubocop, sorbet

Automate serverless deploys (#107)
  .github/pull_request_template.md
  .github/workflows/deploy.yml
Due: none

Testing improvements
  test/test_helper.rb
  test/test_helpers/mock.rb
  test/test_helpers/notification_helper.rb
Due: rubocop, sorbet

Add rejection reason to review.reject!
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Remove a T.unsafe
  app/notifications/delivery_methods/aws_text_message.rb
Due: rubocop, sorbet

Add ReviewRejectedNotification
  app/notifications/review_rejected_notification.rb
Due: rubocop, sorbet

wip
  .env.development
  .env.test
  app/controllers/admin/reviews_controller.rb
  app/controllers/enrollment_notifications_controller.rb
  app/jobs/notify_user_about_approved_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
  app/models/review.rb
  app/notifications/delivery_methods/aws_text_message.rb
  app/notifications/enrollment_notification.rb
  app/notifications/review_approved_notification.rb
  app/notifications/review_rejected_notification.rb
  app/views/admin/reviews/show.html.erb
  db/structure.sql
  test/controllers/admin/reviews_controller_test.rb
  test/factories/webpush_device.rb
  test/jobs/notify_user_about_approved_review_job_test.rb
  test/jobs/notify_user_about_rejected_review_job_test.rb
  test/models/review_test.rb
  test/notifications/enrollment_notification_test.rb
  test/test_helper.rb
  test/test_helpers/text_message_helper.rb
  test/test_helpers/webpush_helper.rb
Due: rubocop, erblint, sorbet

Add approved,rejected notification tests
  test/notifications/review_approved_notification_test.rb
  test/notifications/review_rejected_notification_test.rb
Due: rubocop, sorbet

erblint --lint-all -a
  app/views/admin/reviews/show.html.erb
Due: erblint

Fix tests
  test/controllers/admin/reviews_controller_test.rb
  test/models/review_test.rb
Due: rubocop, sorbet

rake sorbet:update:all
  sorbet/rbi/dsl/notify_user_about_approved_review_job.rbi
  sorbet/rbi/dsl/notify_user_about_rejected_review_job.rbi
Due: sorbet

Send rejection reasons to reviews (#108)
  .env.development
  .env.test
  app/controllers/admin/reviews_controller.rb
  app/controllers/enrollment_notifications_controller.rb
  app/jobs/notify_user_about_approved_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
  app/models/review.rb
  app/notifications/delivery_methods/aws_text_message.rb
  app/notifications/enrollment_notification.rb
  app/notifications/review_approved_notification.rb
  app/notifications/review_rejected_notification.rb
  app/views/admin/reviews/show.html.erb
  db/structure.sql
  sorbet/rbi/dsl/notify_user_about_approved_review_job.rbi
  sorbet/rbi/dsl/notify_user_about_rejected_review_job.rbi
  test/controllers/admin/reviews_controller_test.rb
  test/factories/webpush_device.rb
  test/jobs/notify_user_about_approved_review_job_test.rb
  test/jobs/notify_user_about_rejected_review_job_test.rb
  test/models/review_test.rb
  test/notifications/enrollment_notification_test.rb
  test/notifications/review_approved_notification_test.rb
  test/notifications/review_rejected_notification_test.rb
  test/test_helper.rb
  test/test_helpers/mock.rb
  test/test_helpers/notification_helper.rb
  test/test_helpers/text_message_helper.rb
  test/test_helpers/webpush_helper.rb
Due: rubocop, erblint, sorbet

Add settings to checkout
  app/controllers/checkouts_controller.rb
Due: rubocop, sorbet

Fix deploys
  .github/workflows/deploy.yml
  .github/workflows/ruby.yml
Due: none

Fix dokku deploys and stop running ruby tests on main (#109)
  .github/workflows/deploy.yml
  .github/workflows/ruby.yml
Due: none

Upgrade clsx and type-fest
  package.json
  yarn.lock
Due: prettier

Upgrade prettier
  package.json
  yarn.lock
Due: prettier

Upgrade postcss
  package.json
  yarn.lock
Due: prettier

Upgrade cssnano
  package.json
  yarn.lock
Due: prettier

Upgrade eslint packages
  package.json
  yarn.lock
Due: prettier

Upgrade types
  package.json
  yarn.lock
Due: prettier

Upgrade devdeps
  package.json
  yarn.lock
Due: prettier

Upgrade downshift
  package.json
  yarn.lock
Due: prettier

Upgrade everything else
  package.json
  yarn.lock
Due: prettier

Remove js
  app/javascript/application.js
Due: eslint, prettier

Fix type errors
  app/javascript/components/Alert.tsx
  app/javascript/components/ConfirmModal.tsx
Due: eslint, typescript, prettier

Upgrade JS packages (#110)
  app/javascript/components/Alert.tsx
  app/javascript/components/ConfirmModal.tsx
  package.json
  yarn.lock
Due: eslint, typescript, prettier

Copy changes
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/components/SettingsForm/NotificationPreferences.tsx
  app/javascript/components/SettingsForm/index.tsx
Due: eslint, typescript, prettier

Add notification preferences to db
  db/migrate/20230820174337_add_enrollment_notification_preferences.rb
  db/structure.sql
Due: rubocop, sorbet

Update sorbet
  sorbet/rbi/dsl/user.rbi
Due: sorbet

Update col names
  db/migrate/20230820174337_add_enrollment_notification_preferences.rb
  db/structure.sql
  sorbet/rbi/dsl/user.rbi
Due: rubocop, sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
