Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Clean up some todos
  .rubocop.yml
  app/notifications/delivery_methods/aws_text_message.rb
Due: rubocop, sorbet

Add webpush gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Add a manifest.json
  public/manifest.json
Due: prettier

Sorbet types
  sorbet/rbi/gems/hkdf@1.0.0.rbi
  sorbet/rbi/gems/openssl@3.1.0.rbi
  sorbet/rbi/gems/web-push@3.0.0.rbi
Due: sorbet

Have the service worker register notifications
  .env.development
  app/javascript/@types/window.d.ts
  app/javascript/application.tsx
  app/views/layouts/_head.html.erb
  public/service-worker.js
Due: eslint, typescript, prettier, erblint

Create WebpushDevice model
  app/models/user.rb
  app/models/webpush_device.rb
  db/migrate/20230430161016_create_webpush_devices.rb
  db/structure.sql
  test/factories.rb
  test/models/webpush_device_test.rb
Due: rubocop, sorbet

Get service worker endpoints saved to server
  app/controllers/notifications_controller.rb
  app/helpers/notifications_helper.rb
  app/javascript/application.tsx
  app/javascript/utilities/webpushNotifications.ts
  config/routes.rb
  db/migrate/20230430161016_create_webpush_devices.rb
  db/structure.sql
  package.json
  test/controllers/notifications_controller_test.rb
  tsconfig.json
  yarn.lock
Due: eslint, typescript, prettier, rubocop, sorbet

Create list endpoint for devices
  app/controllers/webpush_devices_controller.rb
  app/helpers/notifications_helper.rb
  app/javascript/utilities/webpushNotifications.ts
  app/views/webpush_devices/_device.json.jbuilder
  app/views/webpush_devices/index.json.jbuilder
  config/routes.rb
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/models/user.rbi
  sorbet/rails-rbi/models/webpush_device.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/todo.rbi
  test/controllers/notifications_controller_test.rb
  test/models/webpush_device_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Delete devices
  app/controllers/webpush_devices_controller.rb
  app/javascript/components/SettingsForm/DevicesTable.tsx
  config/routes.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Add a unique constrait to the endpoint
  app/controllers/webpush_devices_controller.rb
  app/javascript/utilities/webpushNotifications.ts
  app/views/webpush_devices/create.json.jbuilder
  db/migrate/20230430161016_create_webpush_devices.rb
  db/structure.sql
Due: eslint, typescript, prettier, rubocop, sorbet

Update Settings CSS
  app/javascript/components/FilterButton.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/views/users/edit.html.erb
  package.json
  yarn.lock
Due: eslint, typescript, prettier, erblint

Add and delete devices correctly
  app/controllers/webpush_devices_controller.rb
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/javascript/utilities/webpushNotifications.ts
  app/views/users/settings_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Improve responsiveness of settings page
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/components/SettingsForm/NotificationPreferences.tsx
  app/javascript/components/SettingsForm/index.tsx
Due: eslint, typescript, prettier

Get devices table working
  app/controllers/users_controller.rb
  app/javascript/application.tsx
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/views/users/edit.html.erb
  app/views/users/settings_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, erblint, sorbet

Disable notification preferences for now
  app/javascript/components/SettingsForm/index.tsx
Due: eslint, typescript, prettier

Add linux platform
  Gemfile.lock
Due: none

Polish
  app/javascript/components/SettingsForm/DevicesTable.tsx
Due: eslint, typescript, prettier

Loading polish
  app/javascript/components/SettingsForm/DevicesTable.tsx
Due: eslint, typescript, prettier

Cleanup
  app/helpers/notifications_helper.rb
  app/views/users/settings_props.json.jbuilder
  sorbet/rbi/todo.rbi
Due: rubocop, sorbet

Get things working
  .env.development
  app/controllers/enrollment_notifications_controller.rb
  app/models/webpush_device.rb
  app/notifications/delivery_methods/web_push.rb
  app/notifications/enrollment_notification.rb
  lambdas/fetch-sections/storage.go
  public/service-worker.js
Due: eslint, prettier, golangci-lint, rubocop, sorbet

wip
  app/controllers/enrollment_notifications_controller.rb
  app/models/webpush_device.rb
  app/notifications/delivery_methods/aws_text_message.rb
  app/notifications/delivery_methods/web_push.rb
  app/notifications/enrollment_notification.rb
  public/service-worker.js
Due: eslint, prettier, rubocop, sorbet

force_ssl = true
  config/environments/production.rb
Due: rubocop, sorbet

Add icons
  app/views/layouts/_head.html.erb
  public/images/icons-1000.png
  public/images/icons-192.png
  public/images/icons-512.png
  public/images/icons-vector.svg
  public/manifest.json
  public/service-worker.js
Due: eslint, prettier, erblint

wip
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/notifications/enrollment_notification.rb
  public/service-worker.js
Due: eslint, typescript, prettier, rubocop, sorbet

Fixup
  app/controllers/enrollment_notifications_controller.rb
  app/javascript/components/SettingsForm/index.tsx
  lambdas/fetch-sections/storage.go
Due: eslint, typescript, prettier, golangci-lint, rubocop, sorbet

Rubocop fixes
  test/controllers/notifications_controller_test.rb
  test/models/webpush_device_test.rb
Due: rubocop, sorbet

Add admin test param
  app/controllers/enrollment_notifications_controller.rb
  public/service-worker.js
Due: eslint, prettier, rubocop, sorbet

Fix tests
  .env.test
  app/notifications/enrollment_notification.rb
  test/integration/enrollment_notifications_test.rb
Due: rubocop, sorbet

Fix a lint error
  test/factories.rb
Due: rubocop, sorbet

ERBLint fixes
  app/views/layouts/_head.html.erb
Due: erblint

Fix a test
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Fix a test
  app/javascript/components/SettingsForm/index.tsx
  test/system/referral_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Remove lograge sql extension
  Gemfile
  Gemfile.lock
  config/initializers/lograge.rb
Due: rubocop, sorbet

Add worker to procfile
  Procfile
Due: none

Add concurrency group to deploy action
  .github/workflows/deploy.yml
Due: none

Logging improvements
  app/javascript/application.tsx
  app/javascript/utilities/webpushNotifications.ts
  config/environments/production.rb
  public/service-worker.js
Due: eslint, typescript, prettier, rubocop, sorbet

Setup processes in app.json
  app.json
Due: prettier

Show error message on registration
  app/javascript/components/SettingsForm/DevicesTable.tsx
  public/service-worker.js
Due: eslint, typescript, prettier

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
