Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Fix CI checkout test (#100)
  test/controllers/checkouts_controller_test.rb
Due: rubocop, sorbet

Better logging around notifications and a not found json template
  app/views/errors/not_found.json.erb
  lambdas/fetch-sections/notify.go
Due: golangci-lint

Use current and upcoming terms instead of enrollable check
  app/controllers/enrollment_notifications_controller.rb
Due: rubocop, sorbet

Correct ruby method call name - whoops!
  app/controllers/enrollment_notifications_controller.rb
Due: rubocop, sorbet

hotfix: allow for new signups
  app/controllers/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/models/user.rbi
  test/models/user_test.rb
Due: rubocop, sorbet

hotfix: allow for new signups (#101)
  app/controllers/omniauth_callbacks_controller.rb
  app/models/user.rb
  app/models/user.rbi
  test/models/user_test.rb
Due: rubocop, sorbet

Update rails to clear out deprecation warnings in tests
  Gemfile.lock
Due: none

Fix enrollment notifications controller test
  test/controllers/enrollment_notifications_controller_test.rb
Due: rubocop, sorbet

Fix bodylint issue
  lambdas/fetch-sections/notify.go
Due: golangci-lint

Fix CI failures (#102)
  Gemfile.lock
  lambdas/fetch-sections/notify.go
  test/controllers/enrollment_notifications_controller_test.rb
Due: golangci-lint, rubocop, sorbet

Limit sidekiq concurrency to 5 threads
  Procfile
Due: none

Add migration
  lib/tasks/data_migration/backfill_subscribers_to_announcements_mailing_list.rake
Due: rubocop, sorbet

Add migration (#103)
  lib/tasks/data_migration/backfill_subscribers_to_announcements_mailing_list.rake
Due: rubocop, sorbet

Update gems
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Type TypedParams.extract! properly
  app/controllers/admin/reviews_controller.rb
  app/controllers/courses_controller.rb
  app/controllers/enrollment_notifications_controller.rb
  app/controllers/instructors_controller.rb
  app/controllers/relationships_controller.rb
  app/controllers/reviews_controller.rb
  app/controllers/search_controller.rb
  app/controllers/sections_controller.rb
  app/controllers/subject_areas_controller.rb
  app/controllers/typed_parameters.rb
  app/controllers/typed_params.rb
  app/controllers/users_controller.rb
  app/controllers/webpush_devices_controller.rb
Due: rubocop, sorbet

Improve typing
  app/models/course.rb
  app/models/review.rb
  app/models/section.rb
  app/models/subject_area.rb
  app/models/term.rb
  app/models/user.rbi
  config/initializers/searchkick.rb
  sorbet/rbi/todo.rbi
  test/helpers/course_helper_test.rb
  test/models/term_test.rb
Due: rubocop, sorbet

Use tapioca types
  app/controllers/subject_areas_controller.rb
Due: rubocop, sorbet

Fix some type errors
  app/controllers/courses_controller.rb
Due: rubocop, sorbet

wip
  app/controllers/courses_controller.rb
  app/controllers/home_page_controller.rb
  app/controllers/instructors_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/relationships_controller.rb
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  app/controllers/webpush_devices_controller.rb
  app/helpers/section_helper.rb
  app/helpers/subject_area_helper.rb
Due: rubocop, sorbet

Add a helpers compiler
  sorbet/rbi/dsl/admin/reviews_helper.rbi
  sorbet/rbi/dsl/application_helper.rbi
  sorbet/rbi/dsl/color_helper.rbi
  sorbet/rbi/dsl/course_helper.rbi
  sorbet/rbi/dsl/devise_helper.rbi
  sorbet/rbi/dsl/instructor_helper.rbi
  sorbet/rbi/dsl/pay/application_helper.rbi
  sorbet/rbi/dsl/review_helper.rbi
  sorbet/rbi/dsl/section_helper.rbi
  sorbet/rbi/dsl/subject_area_helper.rbi
  sorbet/rbi/dsl/term_helper.rbi
  sorbet/rbi/dsl/user_helper.rbi
  sorbet/tapioca/compilers/helpers.rb
Due: rubocop, sorbet

Better home for typed params code
  config/initializers/typed_params.rb
  lib/typed_params.rb
Due: rubocop, sorbet

Fix last type error
  app/controllers/admin/reviews_controller.rb
  app/controllers/instructors_controller.rb
  app/controllers/typed_params.rb
Due: rubocop, sorbet

bin/tapioca todo
  sorbet/rbi/todo.rbi
Due: sorbet

Bump type coverage
  app/jobs/notify_on_new_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
  app/notifications/enrollment_notification.rb
  config/initializers/assets.rb
  config/initializers/cookies_serializer.rb
  config/initializers/devise.rb
  config/initializers/mailkick.rb
  db/migrate/20210118034701_make_pg_search_index_unique.rb
  test/controllers/webpush_devices_controller_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Bump type coverage
  db/migrate/20230421233948_create_notifications.rb
Due: rubocop, sorbet

Ignore spoom files
  .gitignore
Due: none

Update sorbet rake tasks
  lib/tasks/sorbet.rake
Due: rubocop, sorbet

Update workflow and readme
  .github/workflows/ruby.yml
  README.md
Due: none

bundle update
  Gemfile.lock
  sorbet/rbi/gems/aws-partitions@1.787.0.rbi
  sorbet/rbi/gems/mini_portile2@2.8.4.rbi
  sorbet/rbi/gems/msgpack@1.7.2.rbi
Due: sorbet

Rubocop fixes
  test/models/user_test.rb
Due: rubocop, sorbet

Run migrations in CI
  .github/workflows/ruby.yml
Due: none

Add migration to drop pg_search_documents table
  db/migrate/20230718192047_remove_pgsearch_table.rb
  db/structure.sql
Due: rubocop, sorbet

Set rails_env in CI
  .github/workflows/ruby.yml
Due: none

Add test env vars
  .env.test
Due: none

Create db and schema instead of running migrations
  .github/workflows/ruby.yml
Due: none

bundle install
  Gemfile.lock
Due: none
