Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Move trigger functinality into fetch-sections
  lambdas/Makefile
  lambdas/fetch-sections/main.go
  lambdas/fetch-sections/storage.go
  lambdas/params/params.go
Due: golangci-lint

Update references
  lambdas/serverless.yml
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Remove trigger-sections
  lambdas/params/params.go
  lambdas/trigger-sections/main.go
  lambdas/trigger-sections/storage.go
Due: golangci-lint

Remove `trigger-courses` (#58)
  lambdas/Makefile
  lambdas/README.md
  lambdas/default-event.json
  lambdas/fetch-courses/event.json
  lambdas/fetch-courses/fetching.go
  lambdas/fetch-courses/main.go
  lambdas/fetch-courses/storage.go
  lambdas/params/params.go
  lambdas/serverless.yml
  lambdas/trigger-courses/main.go
  lambdas/trigger-courses/storage.go
  lib/tasks/scrape.rake
Due: prettier, golangci-lint, rubocop, sorbet

Update other references
  lambdas/Makefile
  lambdas/serverless.yml
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Delete trigger function and move functionality to fetch function
  lambdas/fetch-course-descriptions/event.json
  lambdas/fetch-course-descriptions/main.go
  lambdas/fetch-course-descriptions/storage.go
  lambdas/trigger-course-descriptions/event.json
  lambdas/trigger-course-descriptions/main.go
  lambdas/trigger-course-descriptions/storage.go
Due: prettier, golangci-lint

Fix merge conflicts
  lambdas/Makefile
Due: none

Cleanup build
  lambdas/Makefile
Due: none

Remove `trigger-course-descriptions` (#60)
  lambdas/Makefile
  lambdas/fetch-course-descriptions/event.json
  lambdas/fetch-course-descriptions/main.go
  lambdas/fetch-course-descriptions/storage.go
  lambdas/serverless.yml
  lambdas/trigger-course-descriptions/event.json
  lambdas/trigger-course-descriptions/main.go
  lambdas/trigger-course-descriptions/storage.go
  lib/tasks/scrape.rake
Due: prettier, golangci-lint, rubocop, sorbet

Do not award notification token unless review is approved
  app/controllers/reviews_controller.rb
  test/system/referral_test.rb
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Do not complete referral when a review is created
  app/controllers/admin/reviews_controller.rb
  app/controllers/reviews_controller.rb
  test/system/referral_test.rb
Due: rubocop, sorbet

Do not award notification token unless review is approved (#62)
  app/controllers/admin/reviews_controller.rb
  app/controllers/reviews_controller.rb
  test/system/referral_test.rb
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Remove `trigger-sections` (#61)
  lambdas/Makefile
  lambdas/fetch-sections/main.go
  lambdas/fetch-sections/storage.go
  lambdas/params/params.go
  lambdas/serverless.yml
  lambdas/trigger-sections/main.go
  lambdas/trigger-sections/storage.go
  lib/tasks/scrape.rake
Due: golangci-lint, rubocop, sorbet

Add migration
  db/migrate/20230228014101_add_first_approved_at_to_review.rb
Due: rubocop, sorbet

Run migration
  db/structure.sql
Due: none

wip
  app/models/review.rb
  app/models/user.rb
  sorbet/rails-rbi/models/review.rbi
  test/models/review_test.rb
Due: rubocop, sorbet

Test reject and set_pending
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Fix tests, set first approved at
  app/controllers/admin/reviews_controller.rb
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Refactor review approval logic (#65)
  app/controllers/admin/reviews_controller.rb
  app/models/review.rb
  app/models/user.rb
  db/migrate/20230228014101_add_first_approved_at_to_review.rb
  db/structure.sql
  sorbet/rails-rbi/models/review.rbi
  test/models/review_test.rb
Due: rubocop, sorbet

Add course title and instructor
  app/models/review.rb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Add course title and instructor (#66)
  app/models/review.rb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Use `update` method for first_approved_at
  app/models/review.rb
Due: rubocop, sorbet

Don't send text messages in non-production env
  app/jobs/notify_user_about_approved_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
Due: rubocop, sorbet

Add migration
  lib/tasks/data_migration/backfill_review_first_approved_at.rake
Due: rubocop, sorbet

Fix layout of add phone btn
  app/javascript/components/SettingsForm/PhoneModals.tsx
Due: eslint, typescript, prettier

Don't send text messages in non-production env (#67)
  app/jobs/notify_user_about_approved_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
Due: rubocop, sorbet

Add approve all functionality
  app/controllers/admin/reviews_controller.rb
  app/views/admin/reviews/index.html.erb
  config/routes.rb
Due: rubocop, erblint, sorbet

wip
  test/integration/admin/reviews_controller_test.rb
Due: rubocop, sorbet

Add section info
  app/controllers/admin/reviews_controller.rb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Restore show
  app/views/admin/reviews/show.html.erb
Due: erblint

Clean up code
  app/controllers/admin/reviews_controller.rb
Due: rubocop, sorbet

Fix issue with checkout sessions not redirecting properly
  app/controllers/checkouts_controller.rb
  app/javascript/components/GetTokensButton/FeatureList.tsx
Due: eslint, typescript, prettier, rubocop, sorbet

Use prepared statements
  lambdas/serverless.yml
Due: none

Fix layout of add phone btn (#68)
  app/javascript/components/SettingsForm/PhoneModals.tsx
Due: eslint, typescript, prettier

Database scraper tweaks
  lambdas/envutil/database.go
Due: golangci-lint

Remove vpc for lambdas
  lambdas/serverless.yml
Due: none

Add migration (#69)
  lib/tasks/data_migration/backfill_review_first_approved_at.rake
Due: rubocop, sorbet

Fix go lint error
  lambdas/.golangci.yaml
Due: prettier

Fix go lint error (#73)
  lambdas/.golangci.yaml
Due: prettier

Remove vpc for lambdas (#72)
  lambdas/serverless.yml
Due: none
