Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Update readme
  README.md
Due: none

Strip null byte out (#33)
  app/controllers/search_controller.rb
Due: rubocop, sorbet

Switch debugger to new ruby/debug gem and move from Overmind to Foreman (#34)
  Gemfile
  Gemfile.lock
  README.md
  bin/dev
  config/application.rb
Due: rubocop, sorbet

Update gems
  Gemfile.lock
Due: none

Update most js packages
  package.json
  yarn.lock
Due: prettier

Switch to clsx
  app/javascript/components/Alert.tsx
  app/javascript/components/AutocompletableInput.tsx
  app/javascript/components/Badge.tsx
  app/javascript/components/Card.tsx
  app/javascript/components/FilterButton.tsx
  app/javascript/components/RequestButton.tsx
  app/javascript/components/Search.tsx
  app/javascript/components/Select.tsx
  app/javascript/components/SettingsForm/PhoneModals.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/javascript/components/icons/LoadingCircle.tsx
  package.json
  yarn.lock
Due: eslint, typescript, prettier

Update node version
  .node-version
  package.json
Due: prettier

Update postcss-import to 15
  package.json
  yarn.lock
Due: prettier

Update heroicons to 2
  app/javascript/components/Alert.tsx
  app/javascript/components/AutocompletableInput.tsx
  app/javascript/components/FilterButton.tsx
  app/javascript/components/GetTokensButton/CloseButton.tsx
  app/javascript/components/GetTokensButton/FeatureList.tsx
  app/javascript/components/ListCard/Buttons/LinkButtons.tsx
  app/javascript/components/ListCard/Buttons/RelationshipButtons.tsx
  app/javascript/components/ListCard/CourseRow.tsx
  app/javascript/components/ListCard/CurrentCoursesListCard.tsx
  app/javascript/components/ListCard/PreviousCoursesListCard.tsx
  app/javascript/components/ListCard/SectionListCard.tsx
  app/javascript/components/ListCard/SectionRow.tsx
  app/javascript/components/Select.tsx
  app/javascript/components/SettingsForm/CopyToClipboardInput.tsx
  app/javascript/components/SettingsForm/PhoneModals.tsx
  package.json
  yarn.lock
Due: eslint, typescript, prettier

Update downshift to 7
  app/javascript/components/AutocompletableInput.tsx
  package.json
  yarn.lock
Due: eslint, typescript, prettier

Add a sidebar add
  app/views/courses/show_instructor.html.erb
  app/views/shared/_card_ad.html.erb
Due: erblint

Add a sidebar add (#36)
  app/views/courses/show_instructor.html.erb
  app/views/shared/_card_ad.html.erb
Due: erblint

Update Ruby version
  .rubocop.yml
  .ruby-version
  Gemfile.lock
Due: none

Rubocop fixes
  .rubocop.yml
  config/environments/production.rb
  config/environments/staging.rb
  db/migrate/20210118034701_make_pg_search_index_unique.rb
  test/integration/relationships_test.rb
  test/integration/search_test.rb
  test/integration/subject_areas_test.rb
  test/models/term_test.rb
  test/models/user_test.rb
Due: rubocop, sorbet

Add SimpleCov test setup
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  app/models/user.rb
  sorbet/rbi/gems/docile@1.4.0.rbi
  sorbet/rbi/gems/simplecov-html@0.12.3.rbi
  sorbet/rbi/gems/simplecov@0.21.2.rbi
  sorbet/rbi/gems/simplecov_json_formatter@0.1.4.rbi
  test/test_helper.rb
Due: rubocop, sorbet

Lint
  app/models/user.rb
Due: rubocop, sorbet

Add lcov github action
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  sorbet/rbi/gems/simplecov-lcov@0.8.0.rbi
  test/test_helper.rb
Due: rubocop, sorbet

Fix lcov path
  .github/workflows/ruby.yml
Due: none

Use cobertura
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  sorbet/rbi/gems/simplecov-cobertura@2.1.0.rbi
  test/test_helper.rb
Due: rubocop, sorbet

Show more details
  .github/workflows/ruby.yml
Due: none

Add SimpleCov test coverage (#37)
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  sorbet/rbi/gems/docile@1.4.0.rbi
  sorbet/rbi/gems/simplecov-cobertura@2.1.0.rbi
  sorbet/rbi/gems/simplecov-html@0.12.3.rbi
  sorbet/rbi/gems/simplecov@0.21.2.rbi
  sorbet/rbi/gems/simplecov_json_formatter@0.1.4.rbi
  test/test_helper.rb
Due: rubocop, sorbet

Rubocop fixes
  app/controllers/admin_controller.rb
  app/helpers/admin/reviews_helper.rb
  test/controllers/admin/reviews_controller_test.rb
Due: rubocop, sorbet

Erblint fixes
  app/views/admin/reviews/index.html.erb
  app/views/admin/reviews/show.html.erb
Due: erblint

Add codecov action
  .github/workflows/ruby.yml
Due: none

Add codecov.yml file
  codecov.yml
Due: none

Set checks as informational
  codecov.yml
Due: none

Use CodeCov (#39)
  .github/workflows/ruby.yml
  codecov.yml
Due: none

Add a test for quarter_taken
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Get #quarter_taken test working
  app/models/review.rb
  test/factories.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Update rubocop.yml
  .rubocop.yml
Due: none

Create list page
  .rubocop.yml
  app/controllers/admin/reviews_controller.rb
  app/controllers/admin_controller.rb
  app/helpers/admin/reviews_helper.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  config/routes.rb
  test/controllers/admin/reviews_controller_test.rb
Due: rubocop, erblint, sorbet

Create show page for reviews admin
  app/controllers/admin/reviews_controller.rb
  app/helpers/course_helper.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
