Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Make form state explicitly declared with null values
  app/javascript/components/ReviewForm/index.tsx
  app/javascript/utilities/formatRequestBody.ts
  app/javascript/utilities/snakecaseObject.ts
  app/views/reviews/_review.json.jbuilder
  app/views/reviews/form_props.json.jbuilder
  config/environment.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Fix typing
  app/controllers/reviews_controller.rb
  app/javascript/components/ReviewForm/index.tsx
  app/javascript/utilities/snakecaseObject.ts
  package.json
  yarn.lock
Due: eslint, typescript, prettier, rubocop, sorbet

Add review edit link
  app/views/shared/_reviews_comments_card.html.erb
Due: erblint

wip
  app/javascript/components/AutocompletableInput.tsx
  app/javascript/components/ReviewForm/ReviewClassPicker/index.tsx
  app/javascript/components/ReviewForm/index.tsx
  app/javascript/components/Search.tsx
  app/views/reviews/form_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Update types
  app/helpers/admin/reviews_helper.rb
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/models/review.rbi
  sorbet/rails-rbi/routes.rbi
Due: rubocop, sorbet

Successfully edit review
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  app/javascript/components/ReviewForm/index.tsx
Due: eslint, typescript, prettier, rubocop, sorbet

Fix tests
  app/controllers/reviews_controller.rb
  app/javascript/components/ReviewForm/index.tsx
  app/views/reviews/form_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Fix tests
  test/integration/courses_test.rb
Due: rubocop, sorbet

Review editing integration tests
  app/controllers/reviews_controller.rb
  test/integration/reviews_test.rb
Due: rubocop, sorbet

Parallelize tests
  test/test_helper.rb
Due: rubocop, sorbet

Add section-suggetions test
  app/controllers/reviews_controller.rb
  test/integration/reviews_test.rb
Due: rubocop, sorbet

Fix parallel tests
  test/test_helper.rb
Due: rubocop, sorbet

Write system tests
  app/javascript/components/ReviewForm/index.tsx
  app/views/reviews/form_props.json.jbuilder
  test/system/reviews_system_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Disable edit link for now
  app/views/shared/_reviews_comments_card.html.erb
Due: erblint

wip
  Gemfile
  Gemfile.lock
  lib/tasks/data_analysis/drops.rake
Due: rubocop, sorbet

wip
  app/models/term.rb
  lib/tasks/data_analysis/drops.rake
Due: rubocop, sorbet

rake sorbet:update:all
  app/helpers/admin/reviews_helper.rb
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/models/review.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/gems/awesome_print@1.9.2.rbi
Due: rubocop, sorbet

Top drop analysis (#49)
  Gemfile
  Gemfile.lock
  app/helpers/admin/reviews_helper.rb
  app/models/term.rb
  lib/tasks/data_analysis/drops.rake
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/models/review.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/gems/awesome_print@1.9.2.rbi
Due: rubocop, sorbet

Add test for NotifyUserAboutApprovedReviewJobTest
  app/jobs/notify_user_about_rejected_review_job.rb
  test/jobs/notify_user_about_approved_review_job_test.rb
Due: rubocop, sorbet

Add test for NotifyUserAboutRejectedReviewJobTest
  app/jobs/notify_user_about_rejected_review_job.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  sorbet/rails-rbi/jobs/notify_user_about_rejected_review_job.rbi
  test/jobs/notify_user_about_rejected_review_job_test.rb
Due: rubocop, sorbet

Forward fix
  app/javascript/components/ReviewForm/Question.tsx
Due: eslint, typescript, prettier

Implement approve/reject buttons
  app/controllers/admin/reviews_controller.rb
  app/controllers/reviews_controller.rb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Update notify_on_new_review_job to support edits
  app/controllers/reviews_controller.rb
  app/jobs/notify_on_new_review_job.rb
  sorbet/rails-rbi/jobs/notify_on_new_review_job.rbi
Due: rubocop, sorbet

Give tokens on approval
  app/controllers/admin/reviews_controller.rb
Due: rubocop, sorbet

Fix test
  app/jobs/notify_on_new_review_job.rb
Due: rubocop, sorbet

wip
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
Due: rubocop, sorbet

Add system tests to CI
  .github/workflows/ruby.yml
Due: none

wip
  app/javascript/components/ReviewForm/index.tsx
  app/views/reviews/_review.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Add back in adding tokens
  app/controllers/reviews_controller.rb
Due: rubocop, sorbet

Use DATABASE_URL explicitly
  config/database.yml
Due: none

wip
  config/database.yml
Due: none

Add env var to job
  .github/workflows/ruby.yml
Due: none

Finally fix tests
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Fix system tests (#51)
  .github/workflows/ruby.yml
  app/controllers/reviews_controller.rb
  app/javascript/components/ReviewForm/index.tsx
  app/views/reviews/_review.json.jbuilder
  test/system/reviews_system_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Enable review editing
  app/views/shared/_reviews_comments_card.html.erb
Due: erblint

wip
  Gemfile
  app/controllers/admin/reviews_controller.rb
  app/controllers/courses_controller.rb
  app/models/review.rb
Due: rubocop, sorbet

erblint -a --lint-all
  app/views/admin/reviews/show.html.erb
Due: erblint

Fix tests
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  test/integration/reviews_test.rb
  test/system/referral_test.rb
  test/system/reviews_system_test.rb
Due: rubocop, sorbet
