Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Route preferences to frontend
  app/javascript/components/SettingsForm/NotificationPreferences.tsx
  app/javascript/components/SettingsForm/PhoneInput.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/views/users/settings_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Save updates to db
  app/controllers/users_controller.rb
  app/javascript/components/SettingsForm/NotificationPreferencesTable.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/views/users/settings_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, sorbet

Add tests
  app/controllers/users_controller.rb
  test/controllers/users_controller_test.rb
Due: rubocop, sorbet

Add notification preferences table (#111)
  app/controllers/users_controller.rb
  app/javascript/components/SettingsForm/DevicesTable.tsx
  app/javascript/components/SettingsForm/NotificationPreferences.tsx
  app/javascript/components/SettingsForm/NotificationPreferencesTable.tsx
  app/javascript/components/SettingsForm/PhoneInput.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/views/users/settings_props.json.jbuilder
  db/migrate/20230820174337_add_enrollment_notification_preferences.rb
  db/structure.sql
  sorbet/rbi/dsl/user.rbi
  test/controllers/users_controller_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Add data_migrate gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Move old rake tasks to new db/data folder
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_review_first_approved_at.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  db/data/old rake tasks/consolidate_subject_areas.rake
  db/data/old rake tasks/copy_relationship_ids_to_reviews.rake
  db/data/old rake tasks/establish_courses_deprecations/com_sci.rake
  db/data/old rake tasks/establish_courses_deprecations/ling.rake
  db/data/old rake tasks/establish_subject_area_deprecations.rake
  db/data/old rake tasks/generate_referral_codes.rake
  db/data/old rake tasks/mark_reviews_as_approved.rake
Due: rubocop, sorbet

Add data-migrate gem (#112)
  Gemfile
  Gemfile.lock
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_review_first_approved_at.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  db/data/old rake tasks/consolidate_subject_areas.rake
  db/data/old rake tasks/copy_relationship_ids_to_reviews.rake
  db/data/old rake tasks/establish_courses_deprecations/com_sci.rake
  db/data/old rake tasks/establish_courses_deprecations/ling.rake
  db/data/old rake tasks/establish_subject_area_deprecations.rake
  db/data/old rake tasks/generate_referral_codes.rake
  db/data/old rake tasks/mark_reviews_as_approved.rake
Due: rubocop, sorbet

Add sorbet rbi
  sorbet/rbi/gems/data_migrate@9.1.1.rbi
Due: sorbet

Add some tests
  app/models/relationship.rb
  test/models/relationship_test.rb
Due: rubocop, sorbet

Format files
  app/javascript/components/ListCard/SectionDrawer/DrawerHeader.tsx
  app/javascript/components/ListCard/SectionDrawer/RadioGroup.tsx
  app/javascript/components/ListCard/SectionDrawer/index.tsx
Due: eslint, typescript, prettier

Add data migration
  db/data/20230827195318_move_notify_boolean_to_relationship_status.rb
Due: rubocop, sorbet

wip
  app/javascript/components/ListCard/SectionRow.tsx
  app/javascript/components/ListCard/SideBar.tsx
Due: eslint, typescript, prettier

wip
  app/javascript/components/ListCard/SectionDrawer/DrawerHeader.tsx
  app/javascript/components/ListCard/SectionDrawer/RadioGroup.tsx
  app/javascript/components/ListCard/SectionDrawer/index.tsx
  app/javascript/components/ListCard/SectionRow.tsx
Due: eslint, typescript, prettier

Run migration
  db/migrate/20230827154404_track_relationship_status.rb
  db/structure.sql
Due: rubocop, sorbet

wip
  app/models/relationship.rb
  db/migrate/20230827154404_track_relationship_status.rb
  db/structure.sql
  sorbet/rbi/dsl/relationship.rbi
Due: rubocop, sorbet

Add migration
  db/migrate/20230827154404_track_relationship_status.rb
Due: rubocop, sorbet

wip
  app/models/relationship.rb
Due: rubocop, sorbet

Run data migration
  db/data_schema.rb
  db/structure.sql
Due: rubocop, sorbet

Restore frontend
  app/javascript/components/ListCard/SectionDrawer/DrawerHeader.tsx
  app/javascript/components/ListCard/SectionDrawer/RadioGroup.tsx
  app/javascript/components/ListCard/SectionDrawer/index.tsx
  app/javascript/components/ListCard/SectionRow.tsx
  app/javascript/components/ListCard/SideBar.tsx
Due: eslint, typescript, prettier

wip
  app/models/relationship.rb
  app/models/user.rb
  test/models/user_test.rb
Due: rubocop, sorbet

wip
  app/controllers/relationships_controller.rb
  app/models/user.rb
  db/migrate/20230827154404_track_relationship_status.rb
  db/structure.sql
  test/factories.rb
  test/factories/relationship.rb
  test/models/user_test.rb
  test/test_helpers/term_helper.rb
Due: rubocop, sorbet

Update jsbundling-rails
  Gemfile.lock
Due: none

rails javascript:install:bun
  .gitattributes
  Procfile.dev
  app/javascript/application.js
  bin/dev
  bun.config.js
  package.json
Due: eslint, prettier

Update package.json
  bun.lockb
  package.json
Due: prettier

wip
  docs/adding-a-term.md
  lambdas/default-event.json
  lambdas/serverless.yml
  lib/scrapedata/enrollment_appointments/Fall 2023-Winter 2024.html
  lib/tasks/scrape.rake
Due: prettier, rubocop, sorbet

Remove old Fall 2023 file
  lib/scrapedata/enrollment_appointments/Fall 2023.html
Due: none

Support Winter 2024 courses in Hotseat! (#113)
  docs/adding-a-term.md
  lambdas/default-event.json
  lambdas/serverless.yml
  lib/scrapedata/enrollment_appointments/Fall 2023-Winter 2024.html
  lib/scrapedata/enrollment_appointments/Fall 2023.html
  lib/tasks/scrape.rake
Due: prettier, rubocop, sorbet

Use env var for NOTIFICATION_TOKENS_PRICE
  app/controllers/checkouts_controller.rb
  test/controllers/checkouts_controller_test.rb
Due: rubocop, sorbet

wip
  lambdas/Makefile
  lambdas/go.mod
  lambdas/go.sum
  lambdas/serverless.yml
Due: none

wip (#114)
  lambdas/Makefile
  lambdas/go.mod
  lambdas/go.sum
  lambdas/serverless.yml
Due: none

Update ruby and gems
  .ruby-version
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Fix rubocop errors
  .rubocop.yml
  app/controllers/admin/reviews_controller.rb
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  lib/tasks/populate_instructors.rake
  test/controllers/checkouts_controller_test.rb
  test/test_helpers/notification_helper.rb
Due: rubocop, sorbet

erblint --lint-all -a
  app/views/reviews/_question_buttons.html.erb
Due: erblint

Update ruby to 3.3
  .ruby-version
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Rubocop fixes
  .rubocop.yml
  app/controllers/admin/reviews_controller.rb
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  lib/tasks/populate_instructors.rake
  test/controllers/checkouts_controller_test.rb
  test/test_helpers/notification_helper.rb
Due: rubocop, sorbet

wip
  .rubocop.yml
Due: none
