Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Add a procfile
  Procfile
Due: none

pin elasticsearch version
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Add buildpacks file
  .buildpacks
Due: none

Update readme
  README.md
Due: none

Fix lint errors
  db/migrate/20201207000548_create_textbooks.rb
  db/migrate/20210428042142_add_extra_info_to_reviews.rb
  db/migrate/20210525175152_add_extra_credit_and_hours_to_reviews.rb
  db/migrate/20220131054151_create_pay_tables.pay.rb
  test/integration/reviews_test.rb
  test/integration/search_test.rb
Due: rubocop, sorbet

Use ElasticSearch, since that's what dokku uses
  .github/workflows/ruby.yml
  Gemfile
  config/initializers/searchkick.rb
Due: rubocop, sorbet

Add Sidekiq
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop, sorbet

Remove DataDog buildpack
  .buildpacks
Due: none

Bump elasticsearch version
  Gemfile
Due: rubocop, sorbet

bundle lock --add-platform x86_64-linux
  Gemfile.lock
Due: none

Add cron task to reindex search results daily
  app.json
Due: prettier

Add app.json to migrate after deploy
  app.json
Due: prettier

bundle install
  Gemfile.lock
Due: none

Add Datadog buildpack
  .buildpacks
Due: none

Add action to autodeploy
  .github/workflows/deploy.yml
Due: none

Add sitemap refresh task
  app.json
Due: prettier

Change region for lambdas
  lambdas/serverless.yml
Due: none

Deploy hotseat to dokku (#71)
  .buildpacks
  .github/workflows/deploy.yml
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  Procfile
  README.md
  app.json
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/searchkick.rb
  db/migrate/20201207000548_create_textbooks.rb
  db/migrate/20210428042142_add_extra_info_to_reviews.rb
  db/migrate/20210525175152_add_extra_credit_and_hours_to_reviews.rb
  db/migrate/20220131054151_create_pay_tables.pay.rb
  lambdas/serverless.yml
  test/integration/reviews_test.rb
  test/integration/search_test.rb
Due: prettier, rubocop, sorbet

bump gems, remove ddtrace
  .env.development
  Gemfile
  Gemfile.lock
  config/initializers/datadog.rb
Due: rubocop, sorbet

Remove ddtrace
  Gemfile.lock
Due: none

Don't json format logs
  config/initializers/lograge.rb
Due: rubocop, sorbet

A couple of dokku deploy tweaks (#74)
  .env.development
  Gemfile
  Gemfile.lock
  config/initializers/datadog.rb
  config/initializers/lograge.rb
Due: rubocop, sorbet

Bump ruby version
  .ruby-version
Due: none

Bump bundler
  Gemfile.lock
Due: none

Pin devise
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Adjust config files
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/lograge.rb
Due: rubocop, sorbet

Fix errors
  sorbet/rbi/gems/actionmailer@7.0.4.3.rbi
  sorbet/rbi/gems/activesupport@7.0.4.3.rbi
  sorbet/rbi/gems/railties@7.0.4.3.rbi
  sorbet/rbi/sorbet-typed/lib/actionmailer/all/actionmailer.rbi
  sorbet/rbi/sorbet-typed/lib/activesupport/all/activesupport.rbi
  sorbet/rbi/sorbet-typed/lib/minitest/all/minitest.rbi
  sorbet/rbi/sorbet-typed/lib/railties/all/railties.rbi
  sorbet/rbi/sorbet-typed/lib/sidekiq/all/sidekiq.rbi
Due: sorbet

Disable lambda schedules
  lambdas/serverless.yml
Due: none

Add request id and user id to logs
  app/controllers/application_controller.rb
Due: rubocop, sorbet

Add MrLogaLoga
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

rake sorbet:update:all
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/lograge.rb
  sorbet/rbi/gems/mr_loga_loga@0.2.0.rbi
Due: rubocop, sorbet

Use MrLogaLoga
  app/controllers/checkouts_controller.rb
  app/jobs/notify_on_new_review_job.rb
  config/application.rb
  config/initializers/lograge.rb
Due: rubocop, sorbet

Add Semantic logging capabilites (#77)
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/checkouts_controller.rb
  app/jobs/notify_on_new_review_job.rb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/lograge.rb
  sorbet/rbi/gems/mr_loga_loga@0.2.0.rbi
Due: rubocop, sorbet

Remove listen and spring
  Gemfile
  Gemfile.lock
  bin/spring
Due: rubocop, sorbet

Update binstubs
  bin/rails
  bin/rake
Due: none

Remove other spring, listen files
  config/environments/development.rb
  config/spring.rb
  sorbet/rbi/gems/listen@3.8.0.rbi
  sorbet/rbi/gems/rb-fsevent@0.11.2.rbi
  sorbet/rbi/gems/rb-inotify@0.10.1.rbi
  sorbet/rbi/gems/spring@4.1.1.rbi
Due: rubocop, sorbet

Remove `spring` and `listen` gems (#78)
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/spring
  config/environments/development.rb
  config/spring.rb
  sorbet/rbi/gems/listen@3.8.0.rbi
  sorbet/rbi/gems/rb-fsevent@0.11.2.rbi
  sorbet/rbi/gems/rb-inotify@0.10.1.rbi
  sorbet/rbi/gems/spring@4.1.1.rbi
Due: rubocop, sorbet

Use opensearch locally
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  config/initializers/searchkick.rb
  sorbet/rbi/gems/opensearch-api@2.2.0.rbi
  sorbet/rbi/gems/opensearch-ruby@2.1.0.rbi
  sorbet/rbi/gems/opensearch-transport@2.1.0.rbi
Due: rubocop, sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
