Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Add a test for quarter_taken
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Get #quarter_taken test working
  app/models/review.rb
  test/factories.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Fix search test
  test/integration/search_test.rb
Due: rubocop, sorbet

Add #course_detail_label tests
  app/helpers/course_helper.rb
  test/helpers/course_helper_test.rb
Due: rubocop, sorbet

Rubocop fixes
  app/controllers/admin_controller.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  app/views/admin/reviews/show.html.erb
  test/controllers/admin/reviews_controller_test.rb
Due: rubocop, erblint, sorbet

Use HTML code coverage for local runs
  test/test_helper.rb
Due: rubocop, sorbet

Add review model tests
  app/models/review.rb
  test/models/review_test.rb
Due: rubocop, sorbet

Add an integration test
  test/controllers/admin/reviews_controller_test.rb
  test/factories.rb
  test/integration/admin/reviews_controller_test.rb
Due: rubocop, sorbet

Add admin dashboard for reviews (#38)
  .rubocop.yml
  app/controllers/admin/reviews_controller.rb
  app/controllers/admin_controller.rb
  app/helpers/admin/reviews_helper.rb
  app/helpers/course_helper.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  app/views/admin/reviews/show.html.erb
  config/routes.rb
  test/factories.rb
  test/helpers/course_helper_test.rb
  test/integration/admin/reviews_controller_test.rb
  test/integration/search_test.rb
  test/models/review_test.rb
  test/test_helper.rb
Due: rubocop, erblint, sorbet

Add sorbet extension to system tests
  test/application_system_test_case.rb
Due: rubocop, sorbet

Hide card ad if show_ads? = false
  app/views/shared/_card_ad.html.erb
Due: erblint

Don't load google analytics on test/dev env
  app/views/layouts/_head.html.erb
Due: erblint

Don't show ads in test env, and add tests
  app/helpers/application_helper.rb
  test/helpers/application_helper_test.rb
Due: rubocop, sorbet

Update version defaults
  config/application.rb
Due: rubocop, sorbet

Config tweaks
  config/application.rb
  test/integration/courses_test.rb
Due: rubocop, sorbet

Fix test
  test/integration/reviews_test.rb
Due: rubocop, sorbet

Rubocop fixes
  test/integration/reviews_test.rb
Due: rubocop, sorbet

Fix test term collisions
  test/factories.rb
  test/integration/reviews_test.rb
Due: rubocop, sorbet

Don't render ads or analytics in test env (#43)
  app/helpers/application_helper.rb
  app/views/layouts/_head.html.erb
  app/views/shared/_card_ad.html.erb
  config/application.rb
  test/application_system_test_case.rb
  test/factories.rb
  test/helpers/application_helper_test.rb
  test/integration/courses_test.rb
  test/integration/reviews_test.rb
Due: rubocop, erblint, sorbet

allow_other_host: true on enrollment link
  app/controllers/sections_controller.rb
Due: rubocop, sorbet

allow_other_host: true on enrollment link (#44)
  app/controllers/sections_controller.rb
Due: rubocop, sorbet

Only one token for a referral
  app/javascript/components/GetTokensButton/GetMoreTokensModal.tsx
  app/models/user.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Update copy on settings form
  app/javascript/components/SettingsForm/index.tsx
Due: eslint, typescript, prettier

Test referral token on reviews test
  test/system/reviews_system_test.rb
Due: rubocop, sorbet

Add referral tests
  test/system/referral_test.rb
Due: rubocop, sorbet

Frontend tweaks
  app/javascript/components/GetTokensButton/FeatureList.tsx
  app/javascript/components/SettingsForm/index.tsx
Due: eslint, typescript, prettier

Adjust referral bonus (#45)
  app/javascript/components/GetTokensButton/FeatureList.tsx
  app/javascript/components/GetTokensButton/GetMoreTokensModal.tsx
  app/javascript/components/SettingsForm/index.tsx
  app/models/user.rb
  test/system/referral_test.rb
  test/system/reviews_system_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

wip
  app/javascript/application.tsx
  app/javascript/components/CalendarCard.tsx
  app/views/users/my_courses.html.erb
Due: eslint, typescript, prettier, erblint

Add reviews status
  .rubocop.yml
  app/models/review.rb
  db/migrate/20221226072833_add_status_to_reviews.rb
  db/structure.sql
Due: rubocop, sorbet

Update controllers
  app/controllers/admin/reviews_controller.rb
  app/helpers/admin/reviews_helper.rb
  app/models/review.rb
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/models/review.rbi
  sorbet/rails-rbi/routes.rbi
Due: rubocop, sorbet

Add job for approve notification
  Gemfile
  app/controllers/admin/reviews_controller.rb
  app/controllers/reviews_controller.rb
  app/jobs/notify_user_about_approved_review_job.rb
  test/jobs/notify_user_about_approved_review_job_test.rb
Due: rubocop, sorbet

Install gem and sorbet gen
  Gemfile.lock
  sorbet/rails-rbi/jobs/notify_user_about_approved_review_job.rbi
  sorbet/rbi/gems/aws-sdk-sns@1.57.0.rbi
  test/jobs/notify_user_about_approved_review_job_test.rb
Due: rubocop, sorbet

Finish notify approve job
  app/jobs/notify_user_about_approved_review_job.rb
Due: rubocop, sorbet

Create rejected review job
  app/jobs/notify_user_about_rejected_review_job.rb
Due: rubocop, sorbet

Add endpoints
  app/controllers/reviews_controller.rb
  config/routes.rb
Due: rubocop, sorbet

useReducer in review form
  app/javascript/components/ReviewForm/Question.tsx
  app/javascript/components/ReviewForm/index.tsx
  app/javascript/utilities/formatRequestBody.ts
Due: eslint, typescript, prettier

Refactor non-ReviewForm Selects
  app/javascript/components/Card.tsx
  app/javascript/components/EnrollmentCard/index.tsx
  app/javascript/components/ReviewForm/ReviewClassPicker/index.tsx
  app/javascript/components/Select.tsx
Due: eslint, typescript, prettier

Fix some bugs
  app/javascript/components/ReviewForm/ReviewClassPicker/index.tsx
  app/javascript/components/ReviewForm/index.tsx
  app/javascript/components/Select.tsx
Due: eslint, typescript, prettier

wip
  app/javascript/components/ReviewForm/Question.tsx
  app/javascript/components/ReviewForm/index.tsx
Due: eslint, typescript, prettier

Prepopulate edit form
  app/controllers/reviews_controller.rb
  app/javascript/components/ReviewForm/ReviewClassPicker/index.tsx
  app/javascript/components/ReviewForm/index.tsx
  app/views/reviews/_review.json.jbuilder
  app/views/reviews/edit.html.erb
  app/views/reviews/form_props.json.jbuilder
Due: eslint, typescript, prettier, rubocop, erblint, sorbet
