Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Fix CI tests?
  .env.test
Due: none

Disable scrapers
  lambdas/serverless.yml
Due: none

Fix name of URL param
  app/views/home_page/_call_to_action.html.erb
  app/views/layouts/_navbar.html.erb
Due: erblint

Add tests
  app/controllers/admin/reviews_controller.rb
  test/integration/admin/reviews_controller_test.rb
Due: rubocop, sorbet

Fix session names
  app/controllers/users_controller.rb
Due: rubocop, sorbet

Update ERD
  docs/entity-relationship-diagram.png
Due: none

Fix a test
  test/integration/admin/reviews_controller_test.rb
Due: rubocop, sorbet

Allow reviews to be approved (#46)
  .env.test
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/admin/reviews_controller.rb
  app/controllers/courses_controller.rb
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  app/jobs/notify_on_new_review_job.rb
  app/jobs/notify_user_about_approved_review_job.rb
  app/jobs/notify_user_about_rejected_review_job.rb
  app/models/review.rb
  app/views/admin/reviews/show.html.erb
  app/views/shared/_reviews_comments_card.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  db/migrate/20221226072833_add_status_to_reviews.rb
  db/structure.sql
  docs/entity-relationship-diagram.png
  sorbet/rails-rbi/jobs/notify_user_about_approved_review_job.rbi
  sorbet/rails-rbi/jobs/notify_user_about_rejected_review_job.rbi
  sorbet/rails-rbi/models/review.rbi
  sorbet/rbi/gems/aws-sdk-sns@1.57.0.rbi
  test/integration/admin/reviews_controller_test.rb
  test/integration/reviews_test.rb
  test/jobs/notify_user_about_approved_review_job_test.rb
  test/jobs/notify_user_about_rejected_review_job_test.rb
  test/system/referral_test.rb
  test/system/reviews_system_test.rb
Due: rubocop, erblint, sorbet

Add migration to approve all existing reviews
  lib/tasks/data_migration/mark_reviews_as_approved.rake
Due: rubocop, sorbet

added login button
  .gitignore
  Gemfile.lock
  app/views/home_page/_call_to_action.html.erb
  app/views/home_page/_header.html.erb
  db/structure.sql
Due: erblint

Comment out Stripe by default
  Procfile.dev
Due: none

Add rotp gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Generate sorbet rbi
  sorbet/rbi/gems/rotp@6.2.2.rbi
Due: sorbet

Add phone_verification_otp_secret
  app/controllers/users_controller.rb
  app/models/user.rb
  db/migrate/20230204030922_add_otp_codes_to_user.rb
  db/structure.sql
  sorbet/rails-rbi/models/user.rbi
Due: rubocop, sorbet

Update controllers
  app/controllers/users_controller.rb
Due: rubocop, sorbet

Remove twilio-ruby gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Update todo.rbi
  sorbet/rbi/todo.rbi
Due: sorbet

Add scraped spring enrollment
  lib/tasks/scrapedata/enrollment_appointments/2023.html
Due: none

Reenable schedules
  lambdas/serverless.yml
Due: none

Get Hotseat ready for Spring 2023 (#55)
  lambdas/serverless.yml
  lib/tasks/scrapedata/enrollment_appointments/2023.html
Due: none

Stub out tests
  app/controllers/users_controller.rb
  test/integration/users_test.rb
Due: rubocop, sorbet

Implement one test
  app/controllers/users_controller.rb
  test/integration/users_test.rb
Due: rubocop, sorbet

Finish integration tests
  app/controllers/users_controller.rb
  app/models/user.rb
  test/integration/users_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Add model tests
  app/models/user.rb
  test/models/user_test.rb
Due: rubocop, sorbet

flipped log in and sign up buttons and edited button in call to action
  app/views/home_page/_call_to_action.html.erb
  app/views/home_page/_header.html.erb
Due: erblint

Fix type errors
  app/controllers/users_controller.rb
Due: rubocop, sorbet

added login button (#53)
  app/views/home_page/_call_to_action.html.erb
  app/views/home_page/_header.html.erb
Due: erblint

Update README.md
  README.md
Due: none

Update fetch-courses to be self-dependent
  lambdas/Makefile
  lambdas/default-event.json
  lambdas/fetch-courses/event.json
  lambdas/fetch-courses/fetching.go
  lambdas/fetch-courses/main.go
  lambdas/fetch-courses/storage.go
  lambdas/params/params.go
Due: prettier, golangci-lint

Remove trigger-courses
  lambdas/Makefile
  lambdas/trigger-courses/main.go
  lambdas/trigger-courses/storage.go
Due: golangci-lint

Remove textbook scraper
  lambdas/Makefile
  lambdas/fetch-textbooks/event.json
  lambdas/fetch-textbooks/fetching.go
  lambdas/fetch-textbooks/main.go
  lambdas/fetch-textbooks/parsing.go
  lambdas/fetch-textbooks/parsing_test.go
  lambdas/fetch-textbooks/storage.go
  lambdas/fetch-textbooks/testdata/fixtures/winter2022-ls-107.json
  lambdas/fetch-textbooks/testdata/golden/winter2022-ls-107.golden
  lambdas/serverless.yml
  lambdas/trigger-textbooks/main.go
  lambdas/trigger-textbooks/storage.go
  lib/tasks/scrape.rake
Due: prettier, golangci-lint, rubocop, sorbet

Update serverless.yml
  lambdas/serverless.yml
Due: none

Update other references
  lambdas/README.md
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Update params
  lambdas/params/params.go
Due: golangci-lint

Fix a new lint error
  lambdas/fetch-sections/parsing.go
Due: golangci-lint

Remove textbook scraper (#59)
  lambdas/Makefile
  lambdas/fetch-sections/parsing.go
  lambdas/fetch-textbooks/event.json
  lambdas/fetch-textbooks/fetching.go
  lambdas/fetch-textbooks/main.go
  lambdas/fetch-textbooks/parsing.go
  lambdas/fetch-textbooks/parsing_test.go
  lambdas/fetch-textbooks/storage.go
  lambdas/fetch-textbooks/testdata/fixtures/winter2022-ls-107.json
  lambdas/fetch-textbooks/testdata/golden/winter2022-ls-107.golden
  lambdas/serverless.yml
  lambdas/trigger-textbooks/main.go
  lambdas/trigger-textbooks/storage.go
  lib/tasks/scrape.rake
Due: prettier, golangci-lint, rubocop, sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
