Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Add 2022 calendar (#8)
  lib/tasks/scrape.rake
  lib/tasks/scrapedata/summer_session_dates/summer-calendar-2022.html
Due: rubocop, sorbet

Add mailkick
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Add mailer
  app/mailers/application_mailer.rb
  app/mailers/marketing_mailer.rb
  app/views/marketing_mailer/september2022.html.erb
  spec/mailers/marketing_spec.rb
  spec/mailers/previews/marketing_preview.rb
Due: rubocop, erblint, sorbet

Update sorbet types
  sorbet/rails-rbi/models/mailkick/opt_out.rbi
  sorbet/rails-rbi/models/mailkick/subscription.rbi
  sorbet/rails-rbi/routes.rbi
  sorbet/rbi/gems/aws-sdk-kms@1.58.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.114.0.rbi
  sorbet/rbi/gems/mailkick@1.0.1.rbi
  sorbet/rbi/sorbet-typed/lib/stripe/all/stripe.rbi
  sorbet/rbi/todo.rbi
Due: sorbet

Tweaks
  app/mailers/marketing_mailer.rb
  config/environments/development.rb
Due: rubocop, sorbet

Update text
  app/mailers/marketing_mailer.rb
  app/views/marketing_mailer/october2022.html.erb
  app/views/marketing_mailer/october2022.text.erb
Due: rubocop, erblint, sorbet

Add premailer
  Gemfile
  Gemfile.lock
  app/views/layouts/mailer.html.erb
  app/views/marketing_mailer/october2022.html.erb
Due: rubocop, erblint, sorbet

Set up mailing preview
  spec/mailers/previews/marketing_preview.rb
Due: rubocop, sorbet

Rubocop fixes
  spec/mailers/marketing_spec.rb
Due: rubocop, sorbet

rails generate mailkick:install
  db/migrate/20221006035717_create_mailkick_subscriptions.rb
Due: rubocop, sorbet

rails db:migrate
  db/structure.sql
Due: none

Fix a sorbet bug
  .env.development
  sorbet/rails-rbi/type_assert.rbi
  sorbet/rails-rbi/typed_params.rbi
Due: sorbet

Update gems
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Remove sorbet-rails initializer
  config/initializers/sorbet_rails.rb
Due: rubocop, sorbet

tapioca require
  sorbet/tapioca/require.rb
Due: rubocop, sorbet

tapioca todo
  sorbet/rbi/todo.rbi
Due: sorbet

Update include to GeneratedUrlHelpersModule
  app/helpers/user_helper.rb
Due: rubocop, sorbet

Fix type errors in section model
  app/models/section.rb
Due: rubocop, sorbet

Extend devise model helpers
  app/models/user.rb
Due: rubocop, sorbet

Fix type errors in course model
  app/models/course.rb
Due: rubocop, sorbet

Implement single test
  Gemfile
  Gemfile.lock
  test/models/user_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

wip
  test/models/user_test.rb
Due: rubocop, sorbet

Use Mocha for mocks
  Gemfile
  Gemfile.lock
  test/models/user_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

bundle update
  Gemfile.lock
Due: none

Add some unsafe calls
  app/models/term.rb
Due: rubocop, sorbet

Run Rubocop fixes
  .rubocop.yml
  db/seeds.rb
  lib/scrapers/enrollment_appointment.rb
  lib/scrapers/summer_session_dates.rb
  lib/scrapers/term_dates.rb
Due: rubocop, sorbet

Finish converting user test
  test/models/user_test.rb
Due: rubocop, sorbet

Convert all model tests
  spec/models/grade_distribution_spec.rb
  spec/models/user_spec.rb
  test/models/course_test.rb
  test/models/instructor_test.rb
  test/models/review_test.rb
  test/models/subject_area_test.rb
  test/models/term_test.rb
  test/models/textbook_test.rb
Due: rubocop, sorbet

Add ClimateControl
  Gemfile
  Gemfile.lock
  sorbet/rails-rbi/type_assert.rbi
  sorbet/rails-rbi/typed_params.rbi
  sorbet/rbi/gems/aws-sdk-kms@1.58.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.114.0.rbi
  sorbet/rbi/gems/climate_control@1.2.0.rbi
  sorbet/rbi/gems/minitest-spec-rails@6.2.0.rbi
  sorbet/rbi/gems/mocha@1.15.0.rbi
  sorbet/rbi/gems/spring@4.0.0.rbi
  sorbet/rbi/gems/spring@4.1.0.rbi
  sorbet/rbi/sorbet-typed/lib/stripe/all/stripe.rbi
  sorbet/rbi/todo.rbi
Due: rubocop, sorbet

Move over mailing list job
  app/helpers/user_helper.rb
  test/jobs/add_new_user_to_mailing_list_job_test.rb
  test/models/course_test.rb
  test/models/review_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Migrate over slack review notifier
  test/jobs/notify_on_new_review_job_test.rb
Due: rubocop, sorbet

Implement helper tests
  spec/helpers/application_helper_spec.rb
  spec/helpers/instructor_helper_spec.rb
  spec/helpers/section_helper_spec.rb
  spec/support/helpers/create_current_term.rb
  test/helpers/application_helper_test.rb
  test/helpers/course_helper_test.rb
  test/helpers/term_helper_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

wip
  test/application_system_test_case.rb
  test/system/update_settings_test.rb
Due: rubocop, sorbet

Disable fall scraping
  lambdas/serverless.yml
Due: none

Update gems
  Gemfile
  Gemfile.lock
  app/models/term.rb
  config/environments/test.rb
  sorbet/rbi/gems/childprocess@4.1.0.rbi
  sorbet/rbi/gems/digest@3.1.0.rbi
  sorbet/rbi/gems/docile@1.4.0.rbi
  sorbet/rbi/gems/faraday-em_http@1.0.0.rbi
  sorbet/rbi/gems/faraday-em_synchrony@1.0.0.rbi
  sorbet/rbi/gems/faraday-excon@1.1.0.rbi
  sorbet/rbi/gems/faraday-httpclient@1.0.1.rbi
  sorbet/rbi/gems/faraday-multipart@1.0.4.rbi
  sorbet/rbi/gems/faraday-net_http_persistent@1.2.0.rbi
  sorbet/rbi/gems/faraday-patron@1.0.0.rbi
  sorbet/rbi/gems/faraday-rack@1.0.0.rbi
  sorbet/rbi/gems/faraday-retry@1.0.3.rbi
  sorbet/rbi/gems/html_tokenizer@0.0.7.rbi
  sorbet/rbi/gems/libddprof@0.6.0.1.0.rbi
  sorbet/rbi/gems/multipart-post@2.2.3.rbi
  sorbet/rbi/gems/rubyzip@2.3.2.rbi
  sorbet/rbi/gems/selenium-webdriver@4.3.0.rbi
  sorbet/rbi/gems/simplecov-cobertura@2.1.0.rbi
  sorbet/rbi/gems/simplecov-html@0.12.3.rbi
  sorbet/rbi/gems/simplecov@0.21.2.rbi
  sorbet/rbi/gems/simplecov_json_formatter@0.1.4.rbi
  sorbet/rbi/gems/strscan@3.0.4.rbi
  sorbet/rbi/gems/webdrivers@5.0.0.rbi
  sorbet/rbi/gems/websocket@1.2.9.rbi
  sorbet/rbi/todo.rbi
Due: rubocop, sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
