Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

wip
  sorbet/rbi/gems/ffi@1.16.3.rbi
  sorbet/rbi/gems/typhoeus@1.4.1.rbi
Due: sorbet

Update ruby to 3.3
  .ruby-version
Due: none

Update sorbet, typhoeus, and ffi
  Gemfile.lock
Due: none

Update rake
  Gemfile.lock
Due: none

rake sorbet:update:all
  sorbet/rbi/gems/ffi@1.16.3.rbi
  sorbet/rbi/gems/rake@13.1.0.rbi
  sorbet/rbi/gems/typhoeus@1.4.1.rbi
Due: sorbet

Update rubocop
  Gemfile.lock
Due: none

Rubocop -A
  app/controllers/admin/reviews_controller.rb
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  lib/tasks/populate_instructors.rake
  test/controllers/checkouts_controller_test.rb
  test/test_helpers/notification_helper.rb
Due: rubocop, sorbet

Disable a rule
  .rubocop.yml
Due: none

erblint --lint-all -a
  app/views/reviews/_question_buttons.html.erb
Due: erblint

rake sorbet:update:all
  sorbet/rbi/gems/json@2.7.1.rbi
  sorbet/rbi/gems/parallel@1.24.0.rbi
  sorbet/rbi/gems/parser@3.3.0.5.rbi
  sorbet/rbi/gems/racc@1.7.3.rbi
  sorbet/rbi/gems/regexp_parser@2.9.0.rbi
  sorbet/rbi/gems/rexml@3.2.6.rbi
  sorbet/rbi/gems/rubocop-ast@1.30.0.rbi
  sorbet/rbi/gems/rubocop@1.60.2.rbi
  sorbet/rbi/gems/unicode-display_width@2.5.0.rbi
Due: sorbet

Tweak a Rubocop rule to be compatible with Sorbet
  .rubocop.yml
  test/test_helpers/notification_helper.rb
Due: rubocop, sorbet

Fix a Sorbet error
  app/helpers/subject_area_helper.rb
Due: rubocop, sorbet

Update rubocop-factory_bot
  Gemfile.lock
Due: none

rake sorbet:update:all
  sorbet/rbi/gems/rubocop-factory_bot@2.25.1.rbi
Due: sorbet

Add env var
  .github/workflows/ruby.yml
Due: none

Update Ruby to 3.3 (#117)
  .github/workflows/ruby.yml
  .rubocop.yml
  .ruby-version
  Gemfile.lock
  app/controllers/admin/reviews_controller.rb
  app/helpers/subject_area_helper.rb
  app/views/reviews/_question_buttons.html.erb
  db/data/old rake tasks/backfill_instructor_registrar_listings.rake
  db/data/old rake tasks/backfill_subscribers_to_announcements_mailing_list.rake
  lib/tasks/populate_instructors.rake
  sorbet/rbi/gems/ffi@1.16.3.rbi
  sorbet/rbi/gems/json@2.7.1.rbi
  sorbet/rbi/gems/parallel@1.24.0.rbi
  sorbet/rbi/gems/parser@3.3.0.5.rbi
  sorbet/rbi/gems/racc@1.7.3.rbi
  sorbet/rbi/gems/rake@13.1.0.rbi
  sorbet/rbi/gems/regexp_parser@2.9.0.rbi
  sorbet/rbi/gems/rexml@3.2.6.rbi
  sorbet/rbi/gems/rubocop-ast@1.30.0.rbi
  sorbet/rbi/gems/rubocop-factory_bot@2.25.1.rbi
  sorbet/rbi/gems/rubocop@1.60.2.rbi
  sorbet/rbi/gems/typhoeus@1.4.1.rbi
  sorbet/rbi/gems/unicode-display_width@2.5.0.rbi
  test/controllers/checkouts_controller_test.rb
Due: rubocop, erblint, sorbet

Bump Puma version in Gemfile
  Gemfile
Due: rubocop, sorbet

Install Puma 6
  Gemfile.lock
Due: none

Update sorbet and related gems
  Gemfile.lock
Due: none

Update Rubocop gems
  Gemfile.lock
Due: none

Update ahoy
  Gemfile.lock
Due: none

Update blazer
  Gemfile.lock
Due: none

Update searchkick and opensearch-ruby
  Gemfile.lock
Due: none

Update minitest-spec-rails
  Gemfile.lock
Due: none

Update mocha
  Gemfile.lock
Due: none

Scrape latest version of 2023-2024 enrollment passes
  lib/scrapedata/enrollment_appointments/Fall 2023-Spring 2024.html
  lib/scrapedata/enrollment_appointments/Fall 2023-Winter 2024.html
Due: none

Update scraper to add S24 classes
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Update scraper term to 24S
  lambdas/serverless.yml
Due: none

Add spring 2024 section enrollment data (#119)
  lambdas/serverless.yml
  lib/scrapedata/enrollment_appointments/Fall 2023-Spring 2024.html
  lib/scrapedata/enrollment_appointments/Fall 2023-Winter 2024.html
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Update Adsense code
  app/views/layouts/_header_ad.html.erb
Due: erblint

Fix Github lambda deploys?
  .github/workflows/deploy.yml
Due: none

Add Google header
  app/views/layouts/_head.html.erb
Due: erblint

Update Ad code
  app/views/layouts/_header_ad.html.erb
  app/views/shared/_card_ad.html.erb
Due: erblint

Update ads.txt
  public/ads.txt
Due: none

Created first page in account creation flow
  app/javascript/application.tsx
  app/javascript/components/AddMajorMinor/AddMajorMinorModal.tsx
  app/javascript/components/AddMajorMinor/SearchMajorMinor.tsx
  app/javascript/components/AddMajorMinor/index.tsx
  app/javascript/components/SelectYear/index.tsx
  app/views/home_page/_signup.html.erb
  app/views/home_page/index.html.erb
Due: eslint, typescript, prettier, erblint

Added create account flow proceed or skip buttons, and created mobile number input page
  app/javascript/application.tsx
  app/javascript/components/AddMajorMinor/AddMajorMinorModal.tsx
  app/javascript/components/AddMajorMinor/index.tsx
  app/javascript/components/MobileNumber/index.tsx
  app/javascript/components/SelectYear/index.tsx
  app/views/home_page/_signup.html.erb
  app/views/home_page/_signup_add_number.html.erb
  app/views/home_page/index.html.erb
Due: eslint, typescript, prettier, erblint

Create course adding page in account creation flow
  app/javascript/application.tsx
  app/javascript/components/Card.tsx
  app/javascript/components/ListCard/RegistrationCourseRow.tsx
  app/javascript/components/ListCard/RegistrationSelectedCourses.tsx
  app/javascript/components/ListCard/index.tsx
  app/views/home_page/_signup_add_courses.html.erb
  app/views/home_page/index.html.erb
Due: eslint, typescript, prettier, erblint

Add fall 2024 data
  lib/scrapedata/enrollment_appointments/Fall 2024.html
Due: none

Add scrape entry
  lib/tasks/scrape.rake
Due: rubocop, sorbet

Update serverless.yml
  lambdas/serverless.yml
Due: none
