Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
        args: ['--unsafe']
      - id: check-json
      - id: check-toml
      - id: trailing-whitespace
        exclude: testdata/

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: yarn eslint
        language: system
        files: '\.(ts|tsx|js|jsx)$'

      - id: typescript
        name: typescript
        entry: yarn tsc
        language: system
        pass_filenames: false
        files: '\.(ts|tsx)$'

      - id: prettier
        name: prettier
        entry: yarn prettier --write --list-different --ignore-unknown
        exclude: testdata
        language: system
        files: '\.(ts|tsx|js|jsx|json|yaml|css)$'

      - id: golangci-lint
        name: golangci-lint
        language: system
        entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
        types: [go]
        pass_filenames: false

      - id: rubocop
        name: rubocop
        language: system
        files: '\.(rb|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec rubocop --auto-correct'

      - id: erblint
        name: erblint
        language: system
        files: '\.html\.erb$'
        entry: 'bundle exec erblint --autocorrect'

      - id: sorbet
        name: sorbet
        language: system
        pass_filenames: false
        files: '^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$'
        entry: 'bundle exec srb tc'

Get test working and use cuprite
  test/application_system_test_case.rb
  test/system/update_settings_test.rb
Due: rubocop, sorbet

Migrate over system tests
  test/system/reviews_test.rb
  test/system/settings_test.rb
Due: rubocop, sorbet

Get tests running
  test/application_system_test_case.rb
  test/jobs/notify_on_new_review_job_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Migrate first integration test
  test/integration/subject_areas_test.rb
Due: rubocop, sorbet

Move factories
  test/factories.rb
Due: rubocop, sorbet

Migrate remaining tests over
  Gemfile
  app/controllers/home_page_controller.rb
  spec/rails_helper.rb
  spec/requests/errors_spec.rb
  spec/requests/home_page_spec.rb
  spec/requests/search_spec.rb
  spec/requests/static_pages_spec.rb
  spec/spec_helper.rb
  spec/support/matchers/be_the_same_time_as.rb
  spec/support/matchers/have_selector.rb
  test/integration/courses_test.rb
  test/integration/errors_test.rb
  test/integration/home_page_test.rb
  test/integration/reviews_test.rb
  test/integration/search_test.rb
  test/integration/static_pages_test.rb
  test/javascript/EnrollmentChart.test.tsx
  test/javascript/globals.js
  test/javascript/utilities/date.test.ts
  test/system/reviews_system_test.rb
Due: eslint, typescript, prettier, rubocop, sorbet

Make all tests pass
  test/integration/reviews_test.rb
  test/integration/search_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Config test setup
  .github/workflows/javascript.yml
  .github/workflows/ruby.yml
  jest.config.js
Due: eslint, prettier

Add VSCode recs
  .vscode/extensions.json
Due: prettier

Update PR template
  .github/pull_request_template.md
Due: none

Add Rubocop-minitest
  .rubocop.yml
  Gemfile
  Gemfile.lock
  test/helpers/application_helper_test.rb
  test/models/course_test.rb
  test/models/review_test.rb
  test/models/term_test.rb
  test/models/user_test.rb
  test/system/reviews_system_test.rb
  test/system/settings_test.rb
  test/test_helper.rb
Due: rubocop, sorbet

Get working
  lambdas/envutil/aws.go
  lambdas/fetch-sections/event.json
  lambdas/fetch-sections/notify.go
  lambdas/fetch-sections/storage.go
  lambdas/serverless.yml
Due: prettier, golangci-lint

Bring back schedule for winter 2023
  lambdas/serverless.yml
Due: none

bundle lock --add-platform x86_64-linux
  Gemfile.lock
Due: none

Scrape Winter 2023 courses (#13)
  Gemfile.lock
  lambdas/serverless.yml
Due: none

Update readme
  README.md
Due: none

Add database setup section
  README.md
Due: none

Add note in README about dropdb
  README.md
Due: none

Update event
  lambdas/fetch-sections/event.json
Due: prettier

Update migration to fix transaction error
  db/migrate/20220817045634_add_summer_session_type.rb
Due: rubocop, sorbet

Add winter 2023 enrollment appointments
  lib/tasks/scrapedata/enrollment_appointments/2023.html
Due: none

Add winter 2023 enrollment appointments (#15)
  lib/tasks/scrapedata/enrollment_appointments/2023.html
Due: none

Uncomment conditional
  lambdas/fetch-sections/storage.go
Due: golangci-lint

Use AWS SNS for text notifications (#12)
  lambdas/envutil/aws.go
  lambdas/fetch-sections/event.json
  lambdas/fetch-sections/notify.go
  lambdas/serverless.yml
Due: prettier, golangci-lint

Update ERD
  docs/entity-relationship-diagram.png
Due: none

Report text message errors in fetch-sections
  lambdas/fetch-sections/notify.go
Due: golangci-lint

Slightly improve logging
  lambdas/fetch-sections/notify.go
Due: golangci-lint

Add `serverless` to dependencies
  README.md
Due: none

Add link in text message
  lambdas/fetch-sections/notify.go
Due: golangci-lint

Add unsubscribe link
  app/controllers/relationships_controller.rb
  app/models/user.rb
  config/routes.rb
Due: rubocop, sorbet

Redirect to previous link after login
  app/controllers/application_controller.rb
  app/controllers/application_controller.rbi
  app/controllers/checkouts_controller.rb
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
Due: rubocop, sorbet

Add model tests
  test/models/user_test.rb
Due: rubocop, sorbet

Add tests
  app/models/user.rb
  test/integration/relationships_test.rb
  test/models/user_test.rb
Due: rubocop, sorbet

Add a one-click unsubscribe link to text messages (#32)
  app/controllers/application_controller.rb
  app/controllers/application_controller.rbi
  app/controllers/checkouts_controller.rb
  app/controllers/relationships_controller.rb
  app/controllers/reviews_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  config/routes.rb
  lambdas/fetch-sections/notify.go
  test/integration/relationships_test.rb
  test/models/user_test.rb
Due: golangci-lint, rubocop, sorbet

Strip null byte out
  app/controllers/search_controller.rb
Due: rubocop, sorbet

Create list page
  .rubocop.yml
  app/controllers/admin/reviews_controller.rb
  app/controllers/admin_controller.rb
  app/helpers/admin/reviews_helper.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  config/routes.rb
  test/controllers/admin/reviews_controller_test.rb
Due: rubocop, erblint, sorbet

Create show page for reviews admin
  app/controllers/admin/reviews_controller.rb
  app/helpers/course_helper.rb
  app/models/review.rb
  app/views/admin/reviews/index.html.erb
  app/views/admin/reviews/show.html.erb
Due: rubocop, erblint, sorbet

Replace byebug with debug
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Switch back to foreman
  bin/dev
  config/application.rb
Due: rubocop, sorbet
