Repository hotseatio/hotseat.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier, golangci-lint, rubocop, erblint, sorbet

eslint:
  name: eslint
  entry: yarn eslint
  language: system

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: yarn prettier --write --list-different --ignore-unknown
  language: system

golangci-lint:
  name: golangci-lint
  language: system
  entry: bash -c 'cd lambdas/ && exec golangci-lint run --fix'
  pass_filenames: false

rubocop:
  name: rubocop
  language: system
  entry: bundle exec rubocop --auto-correct

erblint:
  name: erblint
  language: system
  entry: bundle exec erblint --autocorrect

sorbet:
  name: sorbet
  language: system
  pass_filenames: false
  entry: bundle exec srb tc

Remove MrLogaLoga
  Gemfile
  Gemfile.lock
  app/jobs/notify_on_new_review_job.rb
  config/application.rb
Due: rubocop, sorbet

Remove rbi
  sorbet/rbi/gems/mr_loga_loga@0.2.0.rbi
Due: sorbet

Update readme
  README.md
Due: none

Update env var
  .github/workflows/ruby.yml
Due: none

Add elasticsearch to test
  Gemfile
Due: rubocop, sorbet

Use opensearch locally (#79)
  .github/workflows/ruby.yml
  Gemfile
  Gemfile.lock
  README.md
  app/jobs/notify_on_new_review_job.rb
  config/application.rb
  config/initializers/searchkick.rb
  sorbet/rbi/gems/mr_loga_loga@0.2.0.rbi
  sorbet/rbi/gems/opensearch-api@2.2.0.rbi
  sorbet/rbi/gems/opensearch-ruby@2.1.0.rbi
  sorbet/rbi/gems/opensearch-transport@2.1.0.rbi
Due: rubocop, sorbet

Upgrade devise
  Gemfile
  Gemfile.lock
  app/controllers/turbo_devise_controller.rb
  config/initializers/devise.rb
Due: rubocop, sorbet

Upgrade devise (#80)
  Gemfile
  Gemfile.lock
  app/controllers/turbo_devise_controller.rb
  config/initializers/devise.rb
Due: rubocop, sorbet

Delete sessions controller
  app/controllers/sessions_controller.rb
Due: rubocop, sorbet

Add dalii gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

rake sorbet:update:all
  sorbet/rbi/gems/dalli@3.2.4.rbi
  sorbet/rbi/gems/i18n@1.13.0.rbi
  sorbet/rbi/gems/rack@2.2.7.rbi
Due: sorbet

Update env config
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop, sorbet

Enabled caching with memcached (#81)
  Gemfile
  Gemfile.lock
  README.md
  config/environments/development.rb
  config/environments/production.rb
  sorbet/rbi/gems/dalli@3.2.4.rbi
  sorbet/rbi/gems/i18n@1.13.0.rbi
  sorbet/rbi/gems/rack@2.2.7.rbi
Due: rubocop, sorbet

Add noticed gem
  Gemfile
  Gemfile.lock
Due: rubocop, sorbet

Use ENROLLMENT_NOTIFICATION_API_TOKEN env var
  .env.development
  app/controllers/enrollment_notifications_controller.rb
  app/helpers/enrollment_notifications_helper.rb
Due: rubocop, sorbet

Implement some tests
  test/integration/enrollment_notifications_test.rb
Due: rubocop, sorbet

Fix sorbet errors
  app/notifications/enrollment_notification.rb
Due: rubocop, sorbet

Snake case structs
  lambdas/fetch-courses/testdata/golden/fall2020-comsci-courses.json
  lambdas/fetch-courses/testdata/golden/spring2021-comsci-courses.json
  lambdas/fetch-sections/notify.go
  lambdas/fetch-sections/storage.go
  lambdas/fetch-sections/testdata/golden/winter2021-comsci-32-row-1.json
  lambdas/fetch-sections/testdata/golden/winter2021-music-185H-row-1.json
  lambdas/registrar/registrar.go
Due: golangci-lint

Set up AWS SNS notification method
  app/helpers/enrollment_notifications_helper.rb
  app/notifications/delivery_methods/aws_text_message.rb
  app/notifications/enrollment_notification.rb
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/jobs/delivery_methods/aws_text_message.rbi
  sorbet/rails-rbi/jobs/noticed/delivery_methods/base.rbi
  sorbet/rails-rbi/routes.rbi
  test/controllers/enrollment_notifications_controller_test.rb
Due: rubocop, sorbet

wip
  app/notifications/delivery_methods/aws_text_message.rb
Due: rubocop, sorbet

Setup tests
  test/controllers/enrollment_notifications_controller_test.rb
  test/integration/enrollment_notifications_test.rb
Due: rubocop, sorbet

Create controller
  app/controllers/enrollment_notifications_controller.rb
  app/helpers/enrollment_notifications_helper.rb
  config/routes.rb
  test/controllers/enrollment_notifications_controller_test.rb
Due: rubocop, sorbet

rake sorbet:update:all
  app/models/notification.rb
  sorbet/rails-rbi/models/notification.rbi
  sorbet/rails-rbi/models/user.rbi
  sorbet/rbi/gems/domain_name@0.5.20190701.rbi
  sorbet/rbi/gems/ffi-compiler@1.0.1.rbi
  sorbet/rbi/gems/http-cookie@1.0.5.rbi
  sorbet/rbi/gems/http-form_data@2.3.0.rbi
  sorbet/rbi/gems/http@5.1.1.rbi
  sorbet/rbi/gems/llhttp-ffi@0.4.0.rbi
  sorbet/rbi/gems/noticed@1.6.0.rbi
  sorbet/rbi/gems/unf@0.1.4.rbi
  sorbet/rbi/gems/unf_ext@0.0.8.2.rbi
  test/models/notification_test.rb
Due: rubocop, sorbet

rails g noticed:notification EnrollmentNotification
  app/notifications/enrollment_notification.rb
Due: rubocop, sorbet

Don't send notifications after week 2
  .rubocop.yml
  app/controllers/enrollment_notifications_controller.rb
  app/models/section.rb
  test/integration/enrollment_notifications_test.rb
Due: rubocop, sorbet

rails db:migrate
  app/models/user.rb
  db/structure.sql
Due: rubocop, sorbet

rails generate noticed:model
  app/models/notification.rb
  db/migrate/20230421233948_create_notifications.rb
  test/factories.rb
  test/models/notification_test.rb
Due: rubocop, sorbet

Create notification route
  app/controllers/enrollment_notifications_controller.rb
  app/notifications/enrollment_notification.rb
  config/routes.rb
Due: rubocop, sorbet

wip
  .env.development
  app/models/section.rb
  app/notifications/delivery_methods/aws_text_message.rb
  test/integration/enrollment_notifications_test.rb
  test/test_helper.rb
  test/test_helpers/text_message_helper.rb
Due: rubocop, sorbet

wip
  app/notifications/enrollment_notification.rb
  config/routes.rb
  test/integration/enrollment_notifications_test.rb
  test/test_helpers/text_message_helper.rb
Due: rubocop, sorbet

Finish all tests
  test/integration/enrollment_notifications_test.rb
Due: rubocop, sorbet

wip
  app/controllers/enrollment_notifications_controller.rb
  app/notifications/enrollment_notification.rb
  config/environments/development.rb
  config/initializers/rack_attack.rb
  config/routes.rb
  lambdas/.env.mac-dev
  lambdas/fetch-sections/notify.go
  lambdas/fetch-sections/storage.go
  lambdas/registrar/registrar.go
  lambdas/serverless.yml
Due: golangci-lint, rubocop, sorbet

Delete commented out code
  lambdas/fetch-sections/notify.go
Due: golangci-lint

wip
  app/notifications/enrollment_notification.rb
Due: rubocop, sorbet

Fix go lint errors
  lambdas/fetch-sections/main.go
  lambdas/fetch-sections/storage.go
Due: golangci-lint

Bump devise rbi
  sorbet/rbi/gems/devise@4.9.2.rbi
Due: sorbet

rake sorbet:update:all
  sorbet/rails-rbi/helpers.rbi
  sorbet/rails-rbi/routes.rbi
Due: sorbet

Fix golden file
  lambdas/fetch-course-descriptions/testdata/golden/com-sci-2021.golden
Due: none

rake sorbet:update:all
  sorbet/rbi/gems/aws-partitions@1.757.0.rbi
  sorbet/rbi/gems/aws-sdk-lambda@1.96.0.rbi
  sorbet/rbi/gems/mini_portile2@2.8.2.rbi
  sorbet/rbi/gems/noticed@1.6.2.rbi
  sorbet/rbi/gems/parser@3.2.2.1.rbi
  sorbet/rbi/gems/pg@1.5.3.rbi
  sorbet/rbi/gems/zeitwerk@2.6.8.rbi
Due: sorbet

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$
  typescript: any of: \.(ts|tsx)$
  prettier: any of: \.(ts|tsx|js|jsx|json|yaml|css)$, but not: testdata
  golangci-lint: any of: \.go$
  rubocop: any of: \.(rb|rbs|rake|jbuilder)$|Gemfile$
  erblint: any of: \.html\.erb$
  sorbet: any of: ^sorbet\/|\.(rb|rbi|rbs|rake|jbuilder)$|Gemfile$
